N8N Workflows/4000+ N8N Agents/All 4000 N8n Agents/BEST OF N8N AGENTS/AI-powered news monitoring & social post generator with OpenAI and Upload-Post.json
{
  "name": "AI Video Avatar Generator: Turn URLs into Shorts (Using Free Tier APIS)",
  "nodes": [
    {
      "parameters": {
        "content": "**Fetch**\n- RSS Feed Trigger",
        "height": 448,
        "width": 192
      },
      "id": "b84ea4f8-0dac-4647-91d4-0bde7b832bf2",
      "name": "Section: Fetch Articles",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1104,
        96
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "**Analyze & Score**\n- OpenAI Chat Model (Scoring)\n- Scoring AI",
        "height": 448,
        "width": 344
      },
      "id": "6418e5b8-4e16-4c78-9c1d-1969ee639e13",
      "name": "Section: Analyze & Score",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1296,
        96
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "**Parse & Enrich**\n- Parse Scoring AI JSON",
        "height": 416,
        "width": 176
      },
      "id": "3e71d0e0-b6bb-49d2-8d6e-edf03d811df7",
      "name": "Section: Parse & Enrich",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2400,
        -176
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "**Route**\n- Quality Gate\n- Review vs Archive Filter",
        "height": 448,
        "width": 400
      },
      "id": "560e240d-0d5c-4a5f-ae1f-032e4b7f8de7",
      "name": "Section: Route",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1632,
        96
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "**Content Generation**\n- OpenAI Chat Model (Content)\n- Content Generation AI\n- Parse Content AI JSON",
        "height": 416,
        "width": 380
      },
      "id": "c5f134b6-0222-49a4-bbce-af78fc323017",
      "name": "Section: Content Generation",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2032,
        -176
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "**Store & Publish**\n- Store Content (Google Sheets)\n- Publish to X, Threads, and LinkedIn",
        "height": 416,
        "width": 312
      },
      "id": "a237d965-dfdd-4a6f-9bb4-4dc75af6692e",
      "name": "Section: Store & Publish",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2576,
        -176
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "**Review & Archive**\n- New for Review (Sheet)\n- Archive (Sheet)",
        "height": 336,
        "width": 360
      },
      "id": "09535471-2da7-4bf3-9dc7-34cac2dfc630",
      "name": "Section: Review & Archive",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2032,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyHour"
            }
          ]
        },
        "feedUrl": "https://morss.it/https://techcrunch.com/feed/"
      },
      "id": "4b2cc53c-aa27-46b4-a7fa-a802a9e58748",
      "name": "RSS Feed Trigger",
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "position": [
        1152,
        192
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "id": "10fceeec-1d91-4aa0-9c6e-00d7d1c7d501",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        1360,
        368
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "jsCode": "// Parse AI Agent JSON response\nconst items = $input.all();\nconst parsedItems = [];\n\nfor (const item of items) {\n  const rawResponse = item.json.output;\n  \n  try {\n    // Clean up escaped characters and parse the JSON response from AI\n    const cleanedResponse = rawResponse.replace(/\\\\n/g, '').replace(/\\\\/g, '');\n    const aiAnalysis = JSON.parse(cleanedResponse);\n    \n    // Handle key_topics - it might be a string or array\n    let topicsString = \"\";\n    if (Array.isArray(aiAnalysis.key_topics)) {\n      topicsString = aiAnalysis.key_topics.join(\", \");\n    } else if (typeof aiAnalysis.key_topics === 'string') {\n      topicsString = aiAnalysis.key_topics;\n    }\n    \n    // Combine original article data with parsed AI analysis\n    parsedItems.push({\n      json: {\n        // Original article data\n        title: $node[\"RSS Feed Trigger\"].json.title,\n        link: $node[\"RSS Feed Trigger\"].json.link,\n        pubDate: $node[\"RSS Feed Trigger\"].json.pubDate,\n        content: $node[\"RSS Feed Trigger\"].json['content:encoded'],\n        \n        // Parsed AI analysis\n        quality_score: aiAnalysis.quality_score || 5,\n        relevance_score: aiAnalysis.relevance_score || 5,\n        key_topics: topicsString,\n        summary: aiAnalysis.summary || \"No summary provided\",\n        content_angle: aiAnalysis.content_angle || \"No angle provided\",\n        action: aiAnalysis.action || \"REVIEW\"\n      }\n    });\n    \n  } catch (error) {\n    // Handle parsing errors gracefully\n    console.log(\"Parsing error:\", error.message);\n    console.log(\"Raw response:\", rawResponse);\n    \n    parsedItems.push({\n      json: {\n        title: $node[\"RSS Feed Trigger\"].json.title,\n        link: $node[\"RSS Feed Trigger\"].json.link,\n        pubDate: $node[\"RSS Feed Trigger\"].json.pubDate,\n        content: $node[\"RSS Feed Trigger\"].json['content:encoded'],\n        quality_score: 5,\n        relevance_score: 5,\n        key_topics: \"Parse Error\",\n        summary: \"AI response could not be parsed: \" + error.message,\n        content_angle: \"Manual review needed\",\n        action: \"REVIEW\"\n      }\n    });\n  }\n}\n\nreturn parsedItems;"
      },
      "id": "4f41d912-4e01-4dbd-9240-015a89284a52",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "position": [
        1696,
        192
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $execution.id }}"
      },
      "id": "3e6a9752-99e6-48c2-ad35-95b121c54de4",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        1456,
        400
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "id": "e5aaf5d6-6794-4d1f-b553-eef5fa0525fe",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        2128,
        112
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "jsCode": "// Parse content creation AI response\nconst items = $input.all();\nconst contentItems = [];\n\nfor (const item of items) {\n  try {\n    const rawResponse = item.json.output;\n    const cleanedResponse = rawResponse.replace(/\\\\\\\\n/g, '').replace(/\\\\\\\\/g, '');\n    const contentData = JSON.parse(cleanedResponse);\n\n    // Get the original article data\n    const originalData = $node[\"Code\"].json; // Reference our enhanced parsing node\n\n    contentItems.push({\n      json: {\n        // Original article info\n        title: originalData.title,\n        link: originalData.link,\n        quality_score: originalData.quality_score,\n        relevance_score: originalData.relevance_score,\n        summary: originalData.summary,\n\n        // Generated content\n        twitter_thread: contentData.twitter_thread || [],\n        linkedin_post: contentData.linkedin_post || \"Content generation failed\",\n        content_ready: contentData.content_ready || false,\n\n        // Metadata\n        created_at: new Date().toISOString(),\n        platform_ready: true\n      }\n    });\n\n  } catch (error) {\n    // Handle parsing errors\n    contentItems.push({\n      json: {\n        title: $node[\"Code\"].json.title,\n        link: $node[\"Code\"].json.link,\n        twitter_thread: [\"Content generation failed\"],\n        linkedin_post: \"Content generation failed: \" + error.message,\n        content_ready: false,\n        error: error.message\n      }\n    });\n  }\n}\n\nreturn contentItems;\n"
      },
      "id": "4deb2f2e-2f89-4b13-b315-c242aba31644",
      "name": "Code1",
      "type": "n8n-nodes-base.code",
      "position": [
        2432,
        -64
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1lg_YOUR_AWS_SECRET_KEY_HERE",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lg_YOUR_AWS_SECRET_KEY_HERE/edit?usp=drivesdk",
          "cachedResultName": "horoscopo"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lg_YOUR_AWS_SECRET_KEY_HERE/edit#gid=0",
          "cachedResultName": "Hoja 1"
        },
        "columns": {
          "value": {
            "Article Link": "={{ $json.link }}",
            "Date Created": "={{ $now }}",
            "Article Title": "={{ $json.title }}",
            "Quality Score": "={{ $json.quality_score }}",
            "Twitter Content": "={{ $json.twitter_thread[0] }}{{ $json.twitter_thread[1] }}{{ $json.twitter_thread[2] }}{{ $json.twitter_thread[3] }}",
            "LinkedIn Content": "={{ $json.linkedin_post }}"
          },
          "schema": [
            {
              "id": "Date Created",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Date Created",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Article Title",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Article Title",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Article Link",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Article Link",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Quality Score",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Quality Score",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Twitter Content",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Twitter Content",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "LinkedIn Content",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "LinkedIn Content",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Published (Yes/No)",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Published (Yes/No)",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Performance Notes",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Performance Notes",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "3a234410-f201-4102-a0e0-781feb003c58",
      "name": "Store Content",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        2656,
        -64
      ],
      "typeVersion": 4.7
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1qlgo9kKDnD6j7GZ6AhKD3EVbFyQu6MfGNEsNCz9lizg",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qlgo9kKDnD6j7GZ6AhKD3EVbFyQu6MfGNEsNCz9lizg/edit?usp=drivesdk",
          "cachedResultName": "Content Research System"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": 1806686957,
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qlgo9kKDnD6j7GZ6AhKD3EVbFyQu6MfGNEsNCz9lizg/edit#gid=1806686957",
          "cachedResultName": "For Review"
        },
        "columns": {
          "value": {
            "Link": "={{ $json.link }}",
            "Title": "={{ $json.title }}",
            "Summary": "={{ $json.summary }}",
            "Pub Date": "={{ $json.pubDate }}",
            "Content Angle": "={{ $json.content_angle }}",
            "Quality Score": "={{ $json.quality_score }}",
            "Relevance Score": "={{ $json.relevance_score }}"
          },
          "schema": [
            {
              "id": "Title",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Title",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Link",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Link",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Pub Date",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Pub Date",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Quality Score",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Quality Score",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Relevance Score",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Relevance Score",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Summary",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Summary",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Content Angle",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Content Angle",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Reviewer",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Reviewer",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Status",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Notes",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Notes",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "af264683-93b8-48f4-bd2b-5ce7c1c15b1c",
      "name": "New for Review",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        2288,
        272
      ],
      "typeVersion": 4.7
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1lg_YOUR_AWS_SECRET_KEY_HERE",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lg_YOUR_AWS_SECRET_KEY_HERE/edit?usp=drivesdk",
          "cachedResultName": "horoscopo"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lg_YOUR_AWS_SECRET_KEY_HERE/edit#gid=0",
          "cachedResultName": "Hoja 1"
        },
        "columns": {
          "value": {
            "Link": "={{ $json.link }}",
            "Title": "={{ $json.title }}",
            "Reason": "={{ $json.summary }}",
            "Pub Date": "={{ $json.pubDate }}",
            "Quality Score": "={{ $json.quality_score }}"
          },
          "schema": [
            {
              "id": "Title",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Title",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Link",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Link",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Pub Date",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Pub Date",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Quality Score",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Quality Score",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Reason",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Reason",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "6a6a32ee-3f52-45ae-8d47-6be1eee64a2f",
      "name": "Archive",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        2288,
        432
      ],
      "typeVersion": 4.7
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Create social media content for this article:\n\nTitle: {{ $json.title }}\nSummary: {{ $json.summary }}\nSuggested Angle: {{ $json.content_angle }}\nLink: {{ $json.link }}\n\nArticle scored {{ $json.quality_score }}/10 for quality and {{ $json.relevance_score }}/10 for relevance.\n",
        "options": {
          "systemMessage": "You are an expert social media content creator specializing in AI and automation topics.\n\nYour job is to take high-quality articles and create engaging, platform-specific content that drives audience engagement and positions the author as a thought leader.\n\nFor each article, create content for these platforms:\n\nTWITTER THREAD (3-4 tweets):\n- Tweet 1: Hook that grabs attention and introduces the main insight\n- Tweet 2-3: Key takeaways with specific examples or data\n- Tweet 4: Call-to-action with link to original article\n- Use emojis strategically\n- Keep each tweet under 280 characters\n\nLINKEDIN POST:\n- Professional tone suitable for business audience\n- 150-200 word summary highlighting business value\n- Include 2-3 key insights from the article\n- End with an engaging question to drive comments\n- Use professional hashtags (#artificialintelligence #businessautomation #productivity)\n\nReturn your response as valid JSON in this exact format:\n{\n  \"twitter_thread\": [\"tweet 1 text\", \"tweet 2 text\", \"tweet 3 text\", \"tweet 4 text\"],\n  \"linkedin_post\": \"full linkedin post text here\",\n  \"content_ready\": true\n}\n\nFocus on value, insights, and engagement. Avoid being overly promotional."
        }
      },
      "id": "4be5b8f1-3fe0-40a7-886d-c339dae3b438",
      "name": "Content AI",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        2128,
        -48
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze this article: {{ $json.title }} - {{ $json['content:encoded'] }}",
        "options": {
          "systemMessage": "You are a content research assistant specializing in AI and automation topics.\n\nYour job is to analyze articles and determine their value for a content creator who focuses on:\n- AI tools and techniques\n- No-code automation platforms \n- Business automation workflows\n- AI news and developments\n\nIMPORTANT: You must respond with valid JSON in exactly this format:\n\n{\n  \"quality_score\": 8,\n  \"relevance_score\": 9,\n  \"key_topics\": \"AI tools\", \"automation\", \"business efficiency\",\n  \"summary\": \"Brief 2-3 sentence summary of the key points and main value.\",\n  \"content_angle\": \"Suggested angle for social media content creation\",\n  \"action\": \"PUBLISH\"\n}\n\nCRITICAL: Ensure all strings are properly quoted with double quotes. Arrays should contain quoted strings like [\"item1\", \"item2\", \"item3\"].\n\nScoring guidelines:\n- Quality Score (1-10): Based on source credibility, content depth, and usefulness\n- Relevance Score (1-10): How well it matches our AI/automation focus\n- Action: PUBLISH (scores 8+), REVIEW (scores 5-7), or ARCHIVE (scores <5)\n\nOnly return the JSON object, nothing else."
        }
      },
      "id": "f232d9a6-a5b4-4907-a259-d6aff589f30f",
      "name": "Scoring AI",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1360,
        192
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "2588090c-6a4a-4609-a8f8-1c7e3cbdda12",
              "operator": {
                "type": "number",
                "operation": "gt"
              },
              "leftValue": "={{ $json.quality_score }}",
              "rightValue": 4
            }
          ]
        },
        "options": {}
      },
      "id": "22639151-1de0-44f5-abed-513fda89299c",
      "name": "Quality Filter",
      "type": "n8n-nodes-base.if",
      "position": [
        1904,
        192
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c488b7fd-18a5-432d-af06-7a9748db4778",
              "operator": {
                "type": "number",
                "operation": "gte"
              },
              "leftValue": "={{ $json.quality_score }}",
              "rightValue": 5
            }
          ]
        },
        "options": {}
      },
      "id": "55982229-4bfb-4759-87d0-feca2ec7fa15",
      "name": "Quality Filter 2",
      "type": "n8n-nodes-base.if",
      "position": [
        2064,
        384
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "resource": "uploads",
        "operation": "uploadText"
      },
      "id": "a48fb95d-cfe7-4b2e-b44d-ba597e9ab452",
      "name": "Upload to Twitter,Linkedin and Threads",
      "type": "n8n-nodes-preview-upload-post.uploadPost",
      "position": [
        2656,
        80
      ],
      "typeVersion": 1,
      "credentials": {}
    },
    {
      "parameters": {
        "content": "**Automated Content Curation & Creation**\n\n**How it works:**\n1.  **Fetch:** Reads new articles from an RSS feed.\n2.  **Analyze & Score:** An AI agent evaluates each article for quality and relevance.\n3.  **Route:**\n    *   **High-Quality:** Automatically generates a Twitter thread and a LinkedIn post. The content is then stored in a Google Sheet and published.\n    *   **Medium-Quality:** Adds the article to a Google Sheet for manual review.\n    *   **Low-Quality:** Archives the article link for reference.\n4.  **Publish:** Posts the generated content to Twitter, LinkedIn, and Threads.\n\n**Setup:**\n*   **RSS Feed:** Configure the `RSS Feed Trigger` with your desired news source.\n*   **OpenAI:** Add your OpenAI API credentials to the `OpenAI Chat Model` nodes.\n*   **Google Sheets:** Authenticate your Google account in the `Store Content`, `New for Review`, and `Archive` nodes. Update the Sheet IDs and names.\n*   **Upload Post (Social Media Publishing):**\n    1.  **Account:** Go to `https://app.upload-post.com`, create an account, and connect your social media profiles (X/Twitter, LinkedIn, Threads, etc.).\n    2.  **API Token:** In your Upload-Post dashboard, generate an API token.\n    3.  **n8n Credentials:** In the `Upload to Twitter,Linkedin and Threads` node, click on \"Credential\" and select \"Create New\". Paste the API token you generated in the previous step.\n    4.  **LinkedIn Page ID (Optional):** If you want to post to a company page on LinkedIn, find your Page ID (e.g., `urn:li:organization:12345678`) and enter it in the `Target Linkedin Page Id` field. Otherwise, it will post to your personal profile.",
        "height": 752,
        "width": 320
      },
      "id": "3fd372c6-f6ca-47a0-8f6b-f0b7514dd4c7",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        784,
        -48
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "Code": {
      "main": [
        [
          {
            "node": "Quality Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Upload to Twitter,Linkedin and Threads",
            "type": "main",
            "index": 0
          },
          {
            "node": "Store Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Content AI": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scoring AI": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Scoring AI",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Quality Filter": {
      "main": [
        [
          {
            "node": "Content AI",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Quality Filter 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quality Filter 2": {
      "main": [
        [
          {
            "node": "New for Review",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Archive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Feed Trigger": {
      "main": [
        [
          {
            "node": "Scoring AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Scoring AI",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Content AI",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cd064606110cd556c28b75944cc984cddb10bbdd63deca196ea4cb4095990bc2"
  },
  "tags": []
}