N8N Workflows/4000+ N8N Agents/All 4000 N8n Agents/BEST OF N8N AGENTS/Auto-Reply to Instagram Comments with DMs.json
{
  "name": "Auto-Reply to Instagram Comments with DMs",
  "nodes": [
    {
      "parameters": {},
      "id": "37cf9052-ad0b-4a8d-a08d-fb2589119568",
      "name": "Start Monitoring",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        288,
        944
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "postUrl",
              "name": "postUrl",
              "type": "string",
              "value": "Instagram url post/reel"
            },
            {
              "id": "replyMessage",
              "name": "replyMessage",
              "type": "string",
              "value": "Thanks so much!  This is the template: xxxxx"
            },
            {
              "id": "profileUsername",
              "name": "profileUsername",
              "type": "string",
              "value": "add_upload_post_username"
            }
          ]
        },
        "options": {}
      },
      "id": "eadc4fd1-dc98-4224-b7e3-640df9f7eac7",
      "name": "Configure Post & Message",
      "type": "n8n-nodes-base.set",
      "position": [
        512,
        1088
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1SNZYngGfvIxZJ6VAiwD9Keuj6DugbijLH59vyK4L298",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SNZYngGfvIxZJ6VAiwD9Keuj6DugbijLH59vyK4L298/edit?usp=drivesdk",
          "cachedResultName": "respuestas a post de instagram"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SNZYngGfvIxZJ6VAiwD9Keuj6DugbijLH59vyK4L298/edit#gid=0",
          "cachedResultName": "Hoja 1"
        },
        "options": {}
      },
      "id": "c56486c4-ec11-4450-867b-ca8bca14e88b",
      "name": "Read Contacted Users",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        704,
        1088
      ],
      "typeVersion": 4,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const comments = $input.first().json.comments || [];\n// CRÍTICO: Usar .all() para obtener TODAS las filas, no solo la primera\nconst allContactedUsersData = $('Read Contacted Users').all();\nconsole.log('🔍 DEBUG - Raw all contacted users:', JSON.stringify(allContactedUsersData, null, 2));\nconsole.log('🔍 DEBUG - Number of items from Read Contacted Users:', allContactedUsersData.length);\n\n// Extraer todos los objetos JSON de todas las ejecuciones y aplanar en un solo array\nlet contactedUsersData = [];\nallContactedUsersData.forEach((item, index) => {\n  console.log(`🔍 DEBUG - Processing item ${index}:`, JSON.stringify(item.json, null, 2));\n  if (item.json) {\n    if (Array.isArray(item.json)) {\n      // Si es un array, agregar todos los elementos\n      contactedUsersData.push(...item.json);\n      console.log(`🔍 DEBUG - Added ${item.json.length} items from array`);\n    } else {\n      // Si es un solo objeto, agregarlo\n      contactedUsersData.push(item.json);\n      console.log(`🔍 DEBUG - Added 1 object`);\n    }\n  }\n});\n\nconsole.log('🔍 DEBUG - Total extracted contacted users:', contactedUsersData.length);\n\n// DEBUGGING DETALLADO\nconsole.log('🔍 DEBUG - Input comments found:', comments.length);\nconsole.log('🔍 DEBUG - Raw contacted users data:', JSON.stringify(contactedUsersData, null, 2));\nconsole.log('🔍 DEBUG - Contacted users data type:', typeof contactedUsersData);\nconsole.log('🔍 DEBUG - Contacted users data keys:', Object.keys(contactedUsersData));\n\n// Handle different Google Sheets response formats\nlet contactedUsers = [];\n\n// IMPORTANTE: Primero verificar si es un array directo (múltiples filas)\nif (Array.isArray(contactedUsersData)) {\n  contactedUsers = contactedUsersData;\n  console.log('🔍 DEBUG - Using direct array format (multiple rows)');\n} \n// Método 2: Respuesta con .values (formato común)\nelse if (contactedUsersData.values && Array.isArray(contactedUsersData.values)) {\n  contactedUsers = contactedUsersData.values;\n  console.log('🔍 DEBUG - Using .values format');\n} \n// Método 3: Respuesta con .data\nelse if (contactedUsersData.data && Array.isArray(contactedUsersData.data)) {\n  contactedUsers = contactedUsersData.data;\n  console.log('🔍 DEBUG - Using .data format');\n}\n// MÉTODO 4 CORREGIDO: Manejar objetos únicos vs múltiples\nelse if (typeof contactedUsersData === 'object' && contactedUsersData !== null) {\n  // CRÍTICO: Verificar si es UN SOLO objeto con comment_id (1 fila)\n  if (contactedUsersData.comment_id || contactedUsersData.username) {\n    contactedUsers = [contactedUsersData];\n    console.log('🔍 DEBUG - Converting single object to array (1 row)');\n  } \n  // Si es un objeto pero SIN comment_id directo, puede ser múltiples objetos\n  else {\n    // Convertir a array pero también verificar si los valores son objetos\n    const values = Object.values(contactedUsersData);\n    \n    // Si los valores son objetos con comment_id, son múltiples filas\n    if (values.length > 0 && typeof values[0] === 'object' && values[0]?.comment_id) {\n      contactedUsers = values;\n      console.log('🔍 DEBUG - Converting object values to array (multiple rows from object)');\n    } else {\n      contactedUsers = values;\n      console.log('🔍 DEBUG - Converting object values to array (unknown format)');\n    }\n  }\n}\n\n// DEBUGGING EXTRA: Mostrar qué tipo de datos recibimos\nconsole.log('🔍 DEBUG - Raw data analysis:');\nconsole.log('  - Is Array:', Array.isArray(contactedUsersData));\nconsole.log('  - Type:', typeof contactedUsersData);\nconsole.log('  - Has comment_id:', !!contactedUsersData?.comment_id);\nconsole.log('  - Object keys:', contactedUsersData ? Object.keys(contactedUsersData) : 'null');\n\nconsole.log('🔍 DEBUG - Final contacted users array length:', contactedUsers.length);\nconsole.log('🔍 DEBUG - Final contacted users array:', JSON.stringify(contactedUsers, null, 2));\n\n// Print first few rows to see the structure\nif (contactedUsers.length > 0) {\n  console.log('🔍 DEBUG - First 5 rows structure:');\n  contactedUsers.slice(0, 5).forEach((row, index) => {\n    console.log(`  Row ${index}:`, JSON.stringify(row, null, 2));\n    console.log(`  Row ${index} type:`, typeof row);\n    console.log(`  Row ${index} keys:`, Object.keys(row || {}));\n  });\n}\n\n// FUNCIÓN PARA NORMALIZAR COMMENT IDs (crítico para números largos)\nfunction normalizeCommentId(id) {\n  if (!id || id === null || id === undefined) return null;\n  \n  // Convertir a string y limpiar espacios\n  let cleanId = String(id).trim();\n  \n  // Si es vacío o es un header, retornar null\n  if (cleanId === '' || cleanId === 'comment_id') return null;\n  \n  // IMPORTANTE: Manejar números largos como strings para evitar problemas de precisión\n  // Los comment IDs de Instagram son números muy largos que pueden perder precisión\n  return cleanId;\n}\n\n// Create a set of already contacted comment IDs\nconst contactedCommentIds = new Set();\n\ncontactedUsers.forEach((row, index) => {\n  let commentId = null;\n  \n  console.log(`🔍 DEBUG - Processing row ${index}:`, JSON.stringify(row, null, 2));\n  \n  // Skip header row if it exists\n  if (typeof row === 'object' && row !== null && !Array.isArray(row)) {\n    // Skip if this looks like a header row\n    if (row.comment_id === 'comment_id' || row.username === 'username') {\n      console.log(`⚠️ Skipping header row ${index}`);\n      return;\n    }\n    \n    // Handle object format (when Google Sheets returns objects)\n    commentId = row.comment_id || row.commentId || row['comment_id'] || row['commentId'];\n    console.log(`🔍 DEBUG - Object format, raw comment_id: '${commentId}' (type: ${typeof commentId})`);\n  } \n  // Handle array format (when Google Sheets returns arrays)\n  else if (Array.isArray(row)) {\n    // Skip if this looks like a header row\n    if (row[0] === 'comment_id' || row[1] === 'username') {\n      console.log(`⚠️ Skipping header array row ${index}`);\n      return;\n    }\n    \n    // comment_id is in Column A (index 0)\n    commentId = row[0];\n    console.log(`🔍 DEBUG - Array format, raw comment_id: '${commentId}' (type: ${typeof commentId})`);\n  }\n  \n  // Normalize and validate comment ID\n  const normalizedId = normalizeCommentId(commentId);\n  if (normalizedId) {\n    contactedCommentIds.add(normalizedId);\n    console.log(`✅ Added contacted comment ID: '${normalizedId}' (length: ${normalizedId.length})`);\n  } else {\n    console.log(`⚠️ Row ${index} has no valid comment_id:`, commentId);\n  }\n});\n\nconsole.log('🔍 DEBUG - Total contacted comment IDs found:', contactedCommentIds.size);\nconsole.log('🔍 DEBUG - Contacted comment IDs list:', Array.from(contactedCommentIds));\n\n// Filter new comments - exclude already contacted ones\nconst newComments = comments.filter(comment => {\n  const rawCommentId = comment.id;\n  const normalizedCommentId = normalizeCommentId(rawCommentId);\n  \n  if (!normalizedCommentId) {\n    console.log(`⚠️ Invalid comment ID found: ${rawCommentId}`);\n    return false;\n  }\n  \n  const isAlreadyContacted = contactedCommentIds.has(normalizedCommentId);\n  \n  console.log(`🔍 DEBUG - Checking comment ID: '${normalizedCommentId}' (raw: ${rawCommentId}, type: ${typeof rawCommentId}), Already contacted: ${isAlreadyContacted}`);\n  \n  // Debug: Show all contacted IDs for comparison\n  if (isAlreadyContacted) {\n    console.log(`🔍 DEBUG - Comment ID '${normalizedCommentId}' found in contacted list`);\n  } else {\n    console.log(`🔍 DEBUG - Comment ID '${normalizedCommentId}' NOT found in contacted list`);\n    console.log(`🔍 DEBUG - All contacted IDs: [${Array.from(contactedCommentIds).join(', ')}]`);\n  }\n  \n  return !isAlreadyContacted;\n});\n\nconsole.log('🔍 DEBUG - New comments after filter:', newComments.length);\n\n// Log the filtering results with emojis\nconsole.log(`📊 Total comments retrieved: ${comments.length}`);\nconsole.log(`✅ Already contacted comments: ${contactedCommentIds.size}`);\nconsole.log(`🆕 New comments to process: ${newComments.length}`);\n\n// Log details of new comments\nnewComments.forEach((comment, index) => {\n  console.log(`🆕 New comment ${index + 1}: ID='${comment.id}', User='${comment.user?.username || 'unknown'}', Text='${comment.text?.substring(0, 50) || 'no text'}...'`);\n});\n\nif (newComments.length === 0) {\n  console.log('😴 No new comments found. Waiting for next check...');\n  console.log('🔄 Workflow will continue monitoring in 15 minutes...');\n  \n  // Return a special object to indicate no processing needed\n  return [{\n    json: {\n      noNewComments: true,\n      summary: `📊 Monitoring complete - Found ${comments.length} total comments, ${contactedCommentIds.size} already contacted, 0 new comments to process`,\n      timestamp: new Date().toISOString(),\n      status: 'no_new_comments'\n    }\n  }];\n}\n\n// Transform each new comment into a separate item for processing\nreturn newComments.map(comment => ({\n  json: {\n    commentId: normalizeCommentId(comment.id),\n    commentText: comment.text,\n    userId: comment.user?.id || 'unknown',\n    username: comment.user?.username || 'unknown',\n    timestamp: comment.timestamp || new Date().toISOString(),\n    replyMessage: $('Configure Post & Message').first().json.replyMessage,\n    postUrl: $('Configure Post & Message').first().json.postUrl,\n    profileUsername: $('Configure Post & Message').first().json.profileUsername\n  }\n}));"
      },
      "id": "ce9bb03a-99e3-4369-9001-33c950b2317c",
      "name": "Filter New Comments",
      "type": "n8n-nodes-base.code",
      "position": [
        1104,
        1088
      ],
      "typeVersion": 2,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 1,
            "leftValue": "",
            "caseSensitive": false,
            "typeValidation": "loose"
          },
          "combinator": "or",
          "conditions": [
            {
              "id": "has_new_comments",
              "operator": {
                "type": "boolean",
                "operation": "notEqual"
              },
              "leftValue": "={{ $json.noNewComments }}",
              "rightValue": true
            },
            {
              "id": "f38ffd12-c4b2-4971-944c-b983ff3541fa",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ !$json.noNewComments }}",
              "rightValue": "true"
            }
          ]
        },
        "options": {
          "ignoreCase": true,
          "looseTypeValidation": true
        }
      },
      "id": "a233064f-25b2-4054-a159-720210f5400c",
      "name": "Check If Has New Comments",
      "type": "n8n-nodes-base.if",
      "position": [
        1264,
        1088
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.upload-post.com/api/uploadposts/comments/reply",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"platform\": \"instagram\",\n  \"user\": \"{{ $json.profileUsername }}\",\n  \"comment_id\": \"{{ $json.commentId }}\",\n  \"message\": \"{{ $json.replyMessage }}\"\n}",
        "options": {}
      },
      "id": "aeeb2570-8dcb-47bf-8abc-1a6b12f62b07",
      "name": "Send Reply to Comment",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1472,
        992
      ],
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 1,
            "leftValue": "",
            "caseSensitive": false,
            "typeValidation": "loose"
          },
          "combinator": "or",
          "conditions": [
            {
              "id": "success_check",
              "operator": {
                "type": "boolean",
                "operation": "equal"
              },
              "leftValue": "={{ $json.success }}",
              "rightValue": true
            },
            {
              "id": "15c2064a-8fbd-446e-8d36-29852df64def",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.success }}",
              "rightValue": "=true"
            }
          ]
        },
        "options": {
          "ignoreCase": true,
          "looseTypeValidation": true
        }
      },
      "id": "3353a29f-bce4-426c-9645-20581a16d79e",
      "name": "Check Reply Success",
      "type": "n8n-nodes-base.if",
      "position": [
        1632,
        880
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1SNZYngGfvIxZJ6VAiwD9Keuj6DugbijLH59vyK4L298",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SNZYngGfvIxZJ6VAiwD9Keuj6DugbijLH59vyK4L298/edit?usp=drivesdk",
          "cachedResultName": "respuestas a post de instagram"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SNZYngGfvIxZJ6VAiwD9Keuj6DugbijLH59vyK4L298/edit#gid=0",
          "cachedResultName": "Hoja 1"
        },
        "columns": {
          "value": {
            "post_url": "={{ $('Filter New Comments').item.json.postUrl }}",
            "username": "={{ $('Filter New Comments').item.json.username }}",
            "timestamp": "={{ $('Filter New Comments').item.json.timestamp }}",
            "comment_id": "={{ $('Filter New Comments').item.json.commentId }}",
            "message_sent": "={{ $('Filter New Comments').item.json.replyMessage }}"
          },
          "schema": [
            {
              "id": "comment_id",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "comment_id",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "username",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "username",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "message_sent",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "message_sent",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "timestamp",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "post_url",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "post_url",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "89419fa4-1f72-4e1e-9cf5-10d86a69c9fc",
      "name": "Record Contacted User",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1840,
        800
      ],
      "typeVersion": 4
    },
    {
      "parameters": {
        "jsCode": "// Log failed replies for debugging\nconst failedReply = {\n  userId: $('Filter New Comments').item.json.userId,\n  username: $('Filter New Comments').item.json.username,\n  commentId: $('Filter New Comments').item.json.commentId,\n  error: $json.error || 'Unknown error',\n  timestamp: new Date().toISOString()\n};\n\nconsole.log('❌ Failed to send reply:', failedReply);\n\nreturn [{ json: failedReply }];"
      },
      "id": "619f0a45-7c10-4ba0-948d-84a2cb1a0d54",
      "name": "Log Failed Reply",
      "type": "n8n-nodes-base.code",
      "position": [
        1840,
        960
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "// Summary of the monitoring session with proper error handling\nlet totalComments = 0;\nlet newComments = 0;\nlet successfulReplies = 0;\nlet failedReplies = 0;\nlet monitoredPostUrl = '';\n\ntry {\n  // Get total comments (handle if node wasn't executed)\n  const getPostCommentsData = $('Get Post Comments').first();\n  totalComments = getPostCommentsData?.json?.comments?.length || 0;\n} catch (error) {\n  console.log('⚠️ Could not get total comments data:', error.message);\n  totalComments = 0;\n}\n\ntry {\n  // Get new comments (handle if node wasn't executed)\n  const filterNewCommentsData = $('Filter New Comments').all();\n  newComments = filterNewCommentsData?.length || 0;\n} catch (error) {\n  console.log('⚠️ Could not get new comments data:', error.message);\n  newComments = 0;\n}\n\ntry {\n  // Get successful replies (handle if node wasn't executed)\n  const recordContactedData = $('Record Contacted User').all();\n  successfulReplies = recordContactedData?.length || 0;\n} catch (error) {\n  console.log('⚠️ Could not get successful replies data:', error.message);\n  successfulReplies = 0;\n}\n\ntry {\n  // Get failed replies (handle if node wasn't executed)\n  const logFailedData = $('Log Failed Reply').all();\n  failedReplies = logFailedData?.length || 0;\n} catch (error) {\n  console.log('⚠️ Could not get failed replies data:', error.message);\n  failedReplies = 0;\n}\n\ntry {\n  // Get monitored post URL\n  const configData = $('Configure Post & Message').first();\n  monitoredPostUrl = configData?.json?.postUrl || 'Unknown URL';\n} catch (error) {\n  console.log('⚠️ Could not get post URL:', error.message);\n  monitoredPostUrl = 'Unknown URL';\n}\n\nconst summary = {\n  totalComments,\n  newComments,\n  successfulReplies,\n  failedReplies,\n  monitoredPostUrl,\n  timestamp: new Date().toISOString(),\n  status: 'completed'\n};\n\nconsole.log('📈 Monitoring Summary:', JSON.stringify(summary, null, 2));\n\n// Generate appropriate emoji and message\nconst emoji = successfulReplies > 0 ? '🎉' : failedReplies > 0 ? '⚠️' : totalComments > 0 ? '👀' : '😴';\nlet message = `${emoji} Monitoring cycle complete!`;\n\nif (totalComments > 0) {\n  message += ` Found ${totalComments} total comments`;\n  \n  if (newComments > 0) {\n    message += `, ${newComments} new comments`;\n    \n    if (successfulReplies > 0) {\n      message += `, sent ${successfulReplies} replies successfully`;\n    }\n    \n    if (failedReplies > 0) {\n      message += `, ${failedReplies} failed`;\n    }\n  } else {\n    message += ', no new comments to process';\n  }\n} else {\n  message += ' No comments found or error retrieving comments';\n}\n\nconsole.log(message);\nconsole.log('⏰ Next check in 15 minutes...');\nconsole.log('🔄 Workflow will continue monitoring...');\n\nreturn [{\n  json: {\n    summary,\n    message,\n    continueMonitoring: true\n  }\n}];"
      },
      "id": "d1ee0e98-4ec3-4bb5-a87b-d25d849e635b",
      "name": "Generate Summary",
      "type": "n8n-nodes-base.code",
      "position": [
        2064,
        1104
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "url": "=https://api.upload-post.com/api/uploadposts/comments",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "platform",
              "value": "instagram"
            },
            {
              "name": "user",
              "value": "={{ $('Configure Post & Message').item.json.profileUsername }}"
            },
            {
              "name": "post_url",
              "value": "={{ $('Configure Post & Message').item.json.postUrl }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "98ff5d85-a22c-44c0-b7fa-0b3384164981",
      "name": "Get Post Comments",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        880,
        1088
      ],
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "6cab694f-11b3-43dc-9b4b-6503eed4ef7a",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        288,
        1200
      ],
      "typeVersion": 1.2
    }
  ],
  "pinData": {},
  "connections": {
    "Log Failed Reply": {
      "main": [
        [
          {
            "node": "Generate Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Configure Post & Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Monitoring": {
      "main": [
        [
          {
            "node": "Configure Post & Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Post Comments": {
      "main": [
        [
          {
            "node": "Filter New Comments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Reply Success": {
      "main": [
        [
          {
            "node": "Record Contacted User",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Failed Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter New Comments": {
      "main": [
        [
          {
            "node": "Check If Has New Comments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Contacted Users": {
      "main": [
        [
          {
            "node": "Get Post Comments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record Contacted User": {
      "main": [
        [
          {
            "node": "Generate Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Reply to Comment": {
      "main": [
        [
          {
            "node": "Check Reply Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configure Post & Message": {
      "main": [
        [
          {
            "node": "Read Contacted Users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Has New Comments": {
      "main": [
        [
          {
            "node": "Send Reply to Comment",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cd064606110cd556c28b75944cc984cddb10bbdd63deca196ea4cb4095990bc2"
  },
  "tags": []
}