N8N Workflows Mega Library/10,000+ N8N Templates/10,000+ N8N Templates/Part 2/Every N8N Template You Need/Best of N8N Template Library/Summarize Calls & Notify Teams via HubSpot, Slack, Email, WhatsApp.json
{
  "name": "Summarize Calls & Notify Teams via HubSpot, Slack, Email, WhatsApp",
  "nodes": [
    {
      "parameters": {
        "content": "## Router agent\nMakes decisions with the help of an LLM  \n- Analyzes the content\n- Decides which part of the transcript is relevant to the different departments\n- Sends the emails to the departments\n",
        "height": 560,
        "width": 540,
        "color": 4
      },
      "id": "53096d46-8a5a-4180-8b62-e836f0c6e221",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -600,
        -100
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Webhook').item.json.body['Client Conversation'] }}",
        "options": {
          "systemMessage": "=You are provided with some client-company conversation and should decide who has to be informed about the feedback. Always only inform one person. Those are your options: \n- It's about a product, send an email to {{ $('Define routing emails').item.json['Support Email'] }}\n- It's about an invoicing problem, send an email to {{ $('Define routing emails').item.json['Administrative Email'] }}\n- It's  related to a travelling/trip, send an email to {{ $('Define routing emails').item.json['Commercial Email'] }}\n\nAdd the email of the person (\"{{ $('Webhook').item.json.body['Client Email'] }}\") at the beginning of the text preceded by \"FROM CLIENT: \"\nUse the Mailjet tool to inform each of the most related department. Provide mailjet with a subject, an email, and the email body formated as html which is the client conversation itself."
        }
      },
      "id": "3b53a02a-1077-433c-b6e2-bef24990a3c2",
      "name": "Router Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -440,
        100
      ],
      "notesInFlow": true,
      "typeVersion": 1.8,
      "notes": "Route the client feedback topics to the relevant department "
    },
    {
      "parameters": {
        "options": {
          "summarizationMethodAndPrompts": {
            "values": {
              "summarizationMethod": "stuff",
              "prompt": "=Summarize the following Converstaion in 2-3 sentences:\n\n\"{{ $('Webhook').item.json.body['Client Conversation'] }}\"\n\nJust output the summarized conversation and nothing else. Use the same language as the input"
            }
          }
        }
      },
      "id": "ca2ceada-041c-4194-aef7-bf2e5c4f531d",
      "name": "Summarization",
      "type": "@n8n/n8n-nodes-langchain.chainSummarization",
      "position": [
        -1040,
        -300
      ],
      "notesInFlow": true,
      "typeVersion": 2,
      "alwaysOutputData": false,
      "notes": "The transcript summarized here"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "7340bd9d-99a6-4a96-b40a-227baf60d218",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -940,
        -20
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "8dab2775-54f8-4f08-a4cb-3b3d943a9b61",
      "name": "Gmail",
      "type": "n8n-nodes-base.gmailTool",
      "position": [
        -360,
        320
      ],
      "webhookId": "be3ad85f-a576-44d6-9383-6a038edfb25a",
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "content": "## Set emails here\nFor each responsible person",
        "height": 260,
        "width": 260,
        "color": 4
      },
      "id": "4b2e4677-e38d-48df-b9e7-dffdcb3bbbfc",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1420,
        -400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Webhook \nTo be used to send the transcription.",
        "height": 260,
        "width": 260,
        "color": 4
      },
      "id": "8df7f3bf-813f-476f-b8d7-7e4923385a3c",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1700,
        -400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Save transcription to Hubspot\n- Search for the client ID based on his email\n- Upload the summarized conversation as meeting notes",
        "height": 280,
        "width": 540,
        "color": 4
      },
      "id": "511e77b7-549c-44f7-9fc0-4f14b766815b",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -600,
        -400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "list",
          "value": "C08VCE4AYNL",
          "cachedResultName": "n8n"
        },
        "text": "=Below is the latest summary.\n\n{{ $json.response.text }}",
        "otherOptions": {}
      },
      "id": "bf24fee0-5c22-4de6-9edf-94e95bb2ad87",
      "name": "Slack",
      "type": "n8n-nodes-base.slack",
      "position": [
        -520,
        -600
      ],
      "webhookId": "ffba5d59-965e-4042-a5cd-d6d89c443e75",
      "typeVersion": 2.3
    },
    {
      "parameters": {
        "content": "## Send the summary to Slack and WhatsApp\n- Configure Slack Channel\n- Configure WhatsApp Recepient",
        "height": 300,
        "width": 540,
        "color": 4
      },
      "id": "b2bdf207-7ad5-4ada-ae40-0687a9247c1c",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -600,
        -720
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "phoneNumberId": "702894569566382",
        "recipientPhoneNumber": "={{ $('Webhook').item.json.body['WhatsApp Contact Number'] }}",
        "template": "n8n_workflow_latest|en",
        "components": {
          "component": [
            {
              "bodyParameters": {
                "parameter": [
                  {
                    "text": "={{ $('Webhook').item.json.body['Your Name'] }}"
                  },
                  {
                    "text": "={{ $('Summarization').item.json.response.text }}"
                  }
                ]
              }
            }
          ]
        }
      },
      "id": "26e4e20e-55cb-40d2-9250-715117376be0",
      "name": "WhatsApp Business Cloud",
      "type": "n8n-nodes-base.whatsApp",
      "position": [
        -280,
        -600
      ],
      "webhookId": "36dba7ba-f6f2-45a0-ad5d-cfd5c1622a49",
      "typeVersion": 1
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "1ffeacc2-1dbd-4a9e-bf3f-6811ddd31642",
        "options": {}
      },
      "id": "05a77160-df66-413a-8302-5e45f73a7027",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        -1620,
        -300
      ],
      "webhookId": "1ffeacc2-1dbd-4a9e-bf3f-6811ddd31642",
      "typeVersion": 2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "099d5326-3452-47b8-9dc0-acc0e6fd951e",
              "name": "Support Email",
              "type": "string",
              "value": "info@encoresky.com"
            },
            {
              "id": "4ed84290-dbf7-47f7-8693-4f95e0c2fd7e",
              "name": "Administrative Email",
              "type": "string",
              "value": "hr@encoresky.com"
            },
            {
              "id": "614d4a5c-c9f2-4d82-bfcb-cfdcc8a4b07d",
              "name": "Commercial Email",
              "type": "string",
              "value": "sales@encoresky.com"
            }
          ]
        },
        "options": {}
      },
      "id": "290a4fda-1954-494c-8864-66b3c2620d2f",
      "name": "Define routing emails",
      "type": "n8n-nodes-base.set",
      "position": [
        -1340,
        -300
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "search",
        "filterGroupsUi": {
          "filterGroupsValues": [
            {
              "filtersUi": {
                "filterValues": [
                  {
                    "propertyName": "email|string",
                    "value": "={{ $('Webhook').item.json.body['Client Email'] }}"
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "id": "ea090004-5b99-4006-8ff2-fa88ea028997",
      "name": "HubSpot Search Client",
      "type": "n8n-nodes-base.hubspot",
      "position": [
        -520,
        -280
      ],
      "notesInFlow": true,
      "typeVersion": 2.1,
      "notes": "Search for the id"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "engagement",
        "type": "meeting",
        "metadata": {
          "body": "={{ $('Summarization').item.json.response.text }}",
          "title": "New meeting"
        },
        "additionalFields": {
          "associations": {
            "contactIds": "={{ $json.properties.hs_object_id }}"
          }
        }
      },
      "id": "9588d6a3-fb97-4450-acc9-4fc1c5c55000",
      "name": "HubSpot Save Notes",
      "type": "n8n-nodes-base.hubspot",
      "position": [
        -280,
        -280
      ],
      "notesInFlow": true,
      "typeVersion": 2.1,
      "notes": "Add meeting notes in the contact form"
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail": {
      "ai_tool": [
        [
          {
            "node": "Router Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Slack": {
      "main": [
        [
          {
            "node": "WhatsApp Business Cloud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Define routing emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarization": {
      "main": [
        [
          {
            "node": "Router Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "HubSpot Search Client",
            "type": "main",
            "index": 0
          },
          {
            "node": "Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Summarization",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Router Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Define routing emails": {
      "main": [
        [
          {
            "node": "Summarization",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HubSpot Search Client": {
      "main": [
        [
          {
            "node": "HubSpot Save Notes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4250a56c-2d48-4501-978d-14370f89d685",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c0fb75cf7fe95e3dad8680101bdc45549409c0f747d9491461d65b61bd6537e9"
  },
  "id": "A0Ms11UZBi3MwyoA",
  "tags": []
}