Agents/Analyze Market Demand using GPT-4o and XPOZ MCP with Notion & Email Reports.json
{
  "name": "Analyze Market Demand using GPT-4o and XPOZ MCP with Notion & Email Reports",
  "nodes": [
    {
      "parameters": {},
      "id": "b4a0b47d-de11-469c-830b-f83067b2b50a",
      "name": "Workflow Error Handler",
      "type": "n8n-nodes-base.errorTrigger",
      "position": [
        -1712,
        1856
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "sendTo": "user@example.com",
        "subject": "Workflow Error Alert",
        "emailType": "text",
        "message": "=🚨 *Workflow Error Alert*  *Error Node:* {{ $json.node.name }} *Error Message:* {{ $json.error.message }} *Timestamp:* {{ $now.toISO() }}  Please investigate immediately.",
        "options": {}
      },
      "id": "58a9412a-9c64-4171-a14b-ff632d81740f",
      "name": "Send a message1",
      "type": "n8n-nodes-base.gmail",
      "position": [
        -1360,
        1856
      ],
      "webhookId": "3661e730-399e-45d7-8062-ec6affcff392",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "content": "## Error Handling\nSends alerts when the workflow fails\n",
        "height": 336,
        "width": 672,
        "color": 7
      },
      "id": "9a88dbc3-28be-4016-b3ed-de893e1f8ada",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1792,
        1696
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "a3ae644e-7d1e-433e-842a-1c694f923a62",
      "name": "Scheduled Market Research Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -1552,
        1024
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "105bdfc5-b28e-4d96-a993-af24e5b24fff",
              "name": "body.niche",
              "type": "string",
              "value": "=n8n automations"
            },
            {
              "id": "619782c6-212c-4782-86f7-6f7819f1c294",
              "name": "body.query",
              "type": "string",
              "value": "=Lead generation and CRM automation using n8n"
            },
            {
              "id": "d9859010-1dcd-494d-a197-a4d833291fa3",
              "name": "body.notes",
              "type": "string",
              "value": "=Focus on common automation use cases, pain points, and complaints about building or maintaining n8n workflows. Look for people asking for templates, integrations, or alternatives."
            }
          ]
        },
        "options": {}
      },
      "id": "0c5f2893-fa9a-4ceb-b052-74d3ef926782",
      "name": "Inject Niche, Query, and Research Notes",
      "type": "n8n-nodes-base.set",
      "position": [
        -1280,
        1024
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=ANALYSIS REQUEST:\n\nNiche: \"{{ $json.body.niche }}\"\nResearch Topic / Keywords: \"{{ $json.body.query }}\"\nnotes : {{ $json.body.notes }}\n\nTask:\nAnalyze public discussions related to the given niche and keywords across the selected platforms.\n\nFocus on:\n- Real customer pain points and frustrations\n- Marketing and growth challenges\n- Mentions of competitors or existing tools\n- Complaints, limitations, or pricing issues with current solutions\n- Posts where users ask for tools, alternatives, or recommendations\n- Language users naturally use to describe their problems\n\nGoal:\nIdentify high-signal market demand and actionable startup opportunities.\n\nReturn insights only if they show real demand or buying intent.\nIgnore generic discussions, tutorials, promotions, or news-only content.\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a market research and growth intelligence analyst.\n\nYou specialize in:\n- Startup idea validation\n- Marketing gap analysis\n- Competitive intelligence\n- Buying-intent detection from public online discussions\n\nYou have access to connected search and social intelligence tools that allow you to analyze public data from:\n- Google Search\n- Twitter/X\n- Instagram\n\nYour responsibilities:\n1. Extract only high-signal insights (real problems, unmet needs, demand)\n2. Identify competitor weaknesses or dissatisfaction\n3. Detect buying or switching intent\n4. Focus on insights useful for founders, marketers, and growth teams\n\nRules:\n- Use only public information\n- Do NOT invent private data\n- Be concise and factual\n- Prefer insight over volume\n- Avoid marketing fluff\n\nIf no strong demand signals exist, clearly state that demand is weak or unclear.\n",
          "maxIterations": 30
        }
      },
      "id": "cbb5f3da-8436-4350-b3a6-38ec881e2d00",
      "name": "Analyze Public Discussions for Market Demand Signals (AI)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -960,
        1024
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "endpointUrl": "https://mcp.xpoz.ai/mcp",
        "authentication": "bearerAuth",
        "options": {}
      },
      "id": "c8898fd3-8ae7-43ff-ad82-1fdd1ed304cf",
      "name": "Public Search & Social Intelligence Connector (MCP Client)",
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "position": [
        -800,
        1296
      ],
      "typeVersion": 1.2,
      "rewireOutputLogTo": "ai_tool"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o",
          "cachedResultName": "gpt-4o"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "id": "7dd2dfda-aa0d-454b-889f-2df6ff7227f2",
      "name": "OpenAI Reasoning Engine for Market Signal Extraction",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -992,
        1280
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are given market insight data collected from public discussions.\n\nTASK:\n\n1. Create a Notion-ready summary:\n   - Short\n   - Plain text\n   - Easy to paste directly into a Notion page\n   - Focus on key insights, problems, and opportunities\n\n2. Create a customer-ready email:\n   - Professional subject line\n   - Short introduction\n   - Key insights in simple language\n   - Clear value for the customer\n   - Neutral CTA (no selling pressure)\n\nReturn ONLY valid JSON in the following structure:\n\n{\n  \"notion_summary\": \"text\",\n  \"email\": {\n    \"subject\": \"text\",\n    \"body\": \"text\"\n  }\n}\n\nHere is the input data:\n{{ $json.output }}\n",
        "options": {
          "systemMessage": "You are an AI Operations Analyst.\n\nYour task is to transform raw market or insight data into:\n1. A concise Notion-ready summary\n2. A professional customer-ready email\n\nRules:\n- Be clear, business-focused, and non-technical\n- Do NOT use markdown\n- Do NOT include emojis\n- Keep language simple and actionable\n- No hallucinations or new data\n- Use only the provided input content\n- Output MUST be valid JSON only\n\nTone:\n- Professional\n- Insight-driven\n- Customer-friendly\n\nLength rules:\n- Notion summary: 4–6 short bullet-style lines (plain text)\n- Email: concise, value-focused, easy to skim\n",
          "maxIterations": 30
        }
      },
      "id": "163e2d1f-b341-4dce-a7dd-f6002e2c78f2",
      "name": "Convert Market Signals into Notion Summary and Customer Email (AI)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -496,
        1024
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o",
          "cachedResultName": "gpt-4o"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "id": "32434d66-ab8d-4c2e-ab27-9a0e157b386b",
      "name": "OpenAI Reasoning Engine for Insight Formatting",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -496,
        1280
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "jsCode": "// Get the AI output (string)\nconst rawOutput = $json.output;\n\n// Safety check\nif (!rawOutput || typeof rawOutput !== 'string') {\n  throw new Error('No valid AI output found to parse');\n}\n\nlet parsedOutput;\n\ntry {\n  parsedOutput = JSON.parse(rawOutput);\n} catch (error) {\n  throw new Error('Failed to parse AI output as JSON');\n}\n\n// Return clean JSON for downstream nodes\nreturn [\n  {\n    json: parsedOutput\n  }\n];\n"
      },
      "id": "5d0d9e30-4d8a-4105-a0ea-f180bb799a5d",
      "name": "Parse Structured Insight Output from AI",
      "type": "n8n-nodes-base.code",
      "position": [
        -32,
        1024
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "sendTo": "user@example.com",
        "subject": "={{ $json.email.subject }}",
        "emailType": "text",
        "message": "={{ $json.email.body }}",
        "options": {}
      },
      "id": "6e99262e-f7da-4f10-aa07-d3d2d2a138fb",
      "name": "Send Market Insight Email to Stakeholder",
      "type": "n8n-nodes-base.gmail",
      "position": [
        336,
        1216
      ],
      "webhookId": "76909339-9957-4f8f-9a45-42d7c1e476d0",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "mode": "list",
          "value": "2da802b9-1fa0-80ae-b132-f6314abec640",
          "cachedResultUrl": "https://www.notion.so/2da802b91fa080aeb132f6314abec640",
          "cachedResultName": "keyword based research analysis summery"
        },
        "title": "=data",
        "simple": false,
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "summery|title",
              "title": "={{ $json.notion_summary }}"
            }
          ]
        },
        "options": {}
      },
      "id": "6e9394c6-b99a-4da9-810d-ea9779ee1832",
      "name": "Save Market Research Insight to Notion Database",
      "type": "n8n-nodes-base.notion",
      "position": [
        336,
        848
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "content": "## 🔎 Analyze Market Demand using GPT-4o and XPOZ MCP with Notion & Email Reports\n\n### How it works\nThis workflow runs on a scheduled trigger to perform automated market research for a defined niche and topic. It injects a preset niche, research query, and analyst notes, then scans public discussions across search and social platforms to identify real demand signals.\n\nAn AI market research agent analyzes public conversations to uncover customer pain points, unmet needs, buying or switching intent, and dissatisfaction with existing solutions. Low-signal noise such as tutorials, promotions, or generic chatter is ignored.\n\nThe validated insights are then transformed into two outputs: a concise Notion-ready summary for internal documentation and a professional customer-ready email that highlights key findings in simple, business-friendly language. Both outputs are generated automatically without manual review.\n\nFinally, the workflow stores insights in a Notion database for long-term research tracking and sends the email to stakeholders, enabling continuous market intelligence without repetitive manual research.\n\n### Setup steps\n1. Configure the schedule trigger frequency.\n2. Update niche, query, and research notes if needed.\n3. Connect OpenAI credentials.\n4. Add MCP (Xpoz) social intelligence credentials.\n5. Configure Notion database access.\n6. Set the stakeholder email address.\n",
        "height": 608,
        "width": 816
      },
      "id": "07a3407b-2060-4a11-8974-466d7d3f5a10",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2720,
        160
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Scheduling & Research Context\nControls when research runs and defines the niche, keywords, and analyst focus.\n",
        "height": 512,
        "width": 496,
        "color": 7
      },
      "id": "bb8ad514-7a4d-4482-8d3f-ca9985b32b3a",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1632,
        800
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Market Demand Signal Discovery\nAnalyzes public discussions to identify real problems, demand, and buying intent.\n",
        "height": 640,
        "width": 400,
        "color": 7
      },
      "id": "c6621abe-bace-447e-9dbe-4371fd2d70fd",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1040,
        832
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Insight Conversion & Formatting\nTransforms raw insights into Notion summaries and customer-ready emails.\n",
        "height": 560,
        "width": 336,
        "color": 7
      },
      "id": "3823b72f-25d9-4073-855f-7185c67802d8",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -544,
        880
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Output Parsing & Validation\nParses and validates structured AI output for safe downstream use.\n",
        "height": 336,
        "width": 336,
        "color": 7
      },
      "id": "5155d8e0-5bc3-4aae-bf93-69ee1c02e853",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -160,
        880
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Distribution & Knowledge Storage\nStores insights in Notion and sends summaries to stakeholders.\n",
        "height": 816,
        "width": 368,
        "color": 7
      },
      "id": "42ab71f6-5430-4375-b8d5-21ad26844f34",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        208,
        656
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 🎥 Workflow Demo Video\n\nWatch a short walkthrough explaining:\n• What this automation does  \n• How the data flows  \n• How to set up credentials  \n• Common mistakes to avoid  \n\n@[youtube](QnpauEj5Ck8)",
        "height": 576,
        "width": 624,
        "color": 4
      },
      "id": "44f260ec-c45e-405d-b3a4-41ea156d7040",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -16,
        16
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "Workflow Error Handler": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scheduled Market Research Trigger": {
      "main": [
        [
          {
            "node": "Inject Niche, Query, and Research Notes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inject Niche, Query, and Research Notes": {
      "main": [
        [
          {
            "node": "Analyze Public Discussions for Market Demand Signals (AI)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Structured Insight Output from AI": {
      "main": [
        [
          {
            "node": "Save Market Research Insight to Notion Database",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Market Insight Email to Stakeholder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Reasoning Engine for Insight Formatting": {
      "ai_languageModel": [
        [
          {
            "node": "Convert Market Signals into Notion Summary and Customer Email (AI)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Reasoning Engine for Market Signal Extraction": {
      "ai_languageModel": [
        [
          {
            "node": "Analyze Public Discussions for Market Demand Signals (AI)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Public Discussions for Market Demand Signals (AI)": {
      "main": [
        [
          {
            "node": "Convert Market Signals into Notion Summary and Customer Email (AI)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Public Search & Social Intelligence Connector (MCP Client)": {
      "ai_tool": [
        [
          {
            "node": "Analyze Public Discussions for Market Demand Signals (AI)",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Convert Market Signals into Notion Summary and Customer Email (AI)": {
      "main": [
        [
          {
            "node": "Parse Structured Insight Output from AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "af4f8e67-049a-4fea-aef3-6948e9bf2b64",
  "meta": {
    "instanceId": "8e2b3d13ae6fa6559fbcb82596263a9a3c863b26c25db9e2d4c29a96e06d8c68"
  },
  "nodeGroups": [],
  "id": "k26oVOAQ3arMlJ1O",
  "tags": []
}