N8N Workflows Mega Library/4000+ N8N Agents/All 4000 N8n Agents/BEST OF N8N AGENTS/Automate doctor appointment using n8n.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [176, 0],
      "id": "telegram-trigger-node",
      "name": "Telegram Trigger",
      "webhookId": "DEMO_WEBHOOK_ID",
      "credentials": {
        "telegramApi": {
          "id": "DEMO_TELEGRAM_CREDENTIAL",
          "name": "Telegram Bot Account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "Hospital Appointment System Instructions (Demo Version)"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [592, 0],
      "id": "agent-node",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [400, 224],
      "id": "model-node",
      "name": "Model",
      "credentials": {
        "googlePalmApi": {
          "id": "DEMO_GOOGLE_PALM_CREDENTIAL",
          "name": "Google Gemini API"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [528, 224],
      "id": "brain-node",
      "name": "Brain"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "demo.calendar@example.com",
          "mode": "list",
          "cachedResultName": "demo.calendar@example.com"
        },
        "start": "={{ $fromAI('Start', '', 'string') }}",
        "end": "={{ $fromAI('End', '', 'string') }}",
        "additionalFields": {
          "summary": "={{ $fromAI('Summary', '', 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [656, 224],
      "id": "calendar-create-node",
      "name": "Create",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "DEMO_GOOGLE_CREDENTIAL",
          "name": "Google Calendar Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "demo.calendar@example.com",
          "mode": "list",
          "cachedResultName": "demo.calendar@example.com"
        },
        "limit": "={{ $fromAI('Limit', '', 'number') }}",
        "timeMin": "={{ $fromAI('After', '', 'string') }}",
        "timeMax": "={{ $fromAI('Before', '', 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [784, 224],
      "id": "calendar-search-node",
      "name": "Search",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "DEMO_GOOGLE_CREDENTIAL",
          "name": "Google Calendar Account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "timezone": "Asia/Kolkata"
        }
      },
      "type": "n8n-nodes-base.dateTimeTool",
      "typeVersion": 2,
      "position": [912, 224],
      "id": "datetime-node",
      "name": "Date and Time"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "None"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [944, 0],
      "id": "telegram-send",
      "name": "Send a text message",
      "webhookId": "DEMO_WEBHOOK_ID_2",
      "credentials": {
        "telegramApi": {
          "id": "DEMO_TELEGRAM_CREDENTIAL",
          "name": "Telegram Bot Account"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Brain": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Create": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Search": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Date and Time": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "DEMO_VERSION_ID",
  "id": "DEMO_WORKFLOW_ID",
  "tags": []
}
