N8N Workflows Mega Library/4000+ N8N Agents/All 4000 N8n Agents/BEST OF N8N AGENTS/Generate & Schedule Social Media Posts with GPT-4 and Telegram Approval Workflow.json
{
  "name": "From Google Drive to Instagram, TikTok & YouTube with Airtable Tracking",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cd270863-aa35-418c-a0ae-1b5878eee2ed",
              "name": "airtable_app_id",
              "type": "string",
              "value": "add_airtable_app_id"
            },
            {
              "id": "00ef91b2-8a4c-42bb-a46f-f7eb06e861e8",
              "name": "airtable_table_id",
              "type": "string",
              "value": "add_airtable_table_id"
            },
            {
              "id": "21b5d3ad-ff81-407e-8c4e-53bda8a16e0e",
              "name": "upload_post_user",
              "type": "string",
              "value": "test2"
            }
          ]
        },
        "options": {}
      },
      "id": "5f65f6bc-c9be-462c-84f3-3ef14be7a168",
      "name": "Set Variables",
      "type": "n8n-nodes-base.set",
      "position": [
        6368,
        3440
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "mode": "list",
          "value": "18m0i341QLQuyWuHv_FBdz8-r-QDtofYm",
          "cachedResultUrl": "https://drive.google.com/drive/folders/18m0i341QLQuyWuHv_FBdz8-r-QDtofYm",
          "cachedResultName": "Influencersde"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "a6eaeacf-815b-4ad9-9907-3ae1ea512658",
      "name": "Google Drive Trigger",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "position": [
        4976,
        3440
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "",
          "value": "={{ $json.id || $json.data[0].id }}"
        },
        "options": {}
      },
      "id": "990146e7-4e1f-41d6-a633-ac25366473f2",
      "name": "Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        5136,
        3440
      ],
      "retryOnFail": true,
      "typeVersion": 1,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "authentication": "airtableTokenApi",
        "operation": "append",
        "application": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Set Variables').item.json.airtable_app_id }}"
        },
        "table": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Set Variables').item.json.airtable_table_id }}"
        },
        "addAllFields": false,
        "fields": [
          "Video Name"
        ],
        "options": {}
      },
      "id": "d3bfc7a7-8be3-49a9-b0c5-8446650934e2",
      "name": "Create Airtable Record",
      "type": "n8n-nodes-base.airtable",
      "position": [
        6576,
        3440
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "33f07676-43d0-403e-b30d-80d699b0ebe3",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "position": [
        5472,
        3776
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "text": "=🔔 ERROR SUBIENDO VIDEOS",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "b8a547d7-2645-4ee6-9342-1a2f42e88bd7",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "position": [
        5808,
        3760
      ],
      "webhookId": "f6729386-9905-45f1-800f-4fe01a06ac9c",
      "retryOnFail": true,
      "typeVersion": 1.2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 1,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "9fadb3fd-2547-42bd-8f40-f410a97dcf57",
              "operator": {
                "type": "string",
                "operation": "notContains"
              },
              "leftValue": "={{ $json.trigger.error.message }}",
              "rightValue": "The DNS server returned an error, perhaps the server is offline"
            }
          ]
        },
        "options": {}
      },
      "id": "ecc596a6-95d3-4e9d-9d75-728b6dd5b8ec",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "position": [
        5616,
        3776
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "content": "## Description\nThis automation allows you to upload a video to a configured Google Drive folder, and it will automatically create descriptions and upload it to Instagram, TikTok, and YouTube with Airtable tracking.\n\n## How to Use\n1. Configure your Airtable base and table IDs in the Set Variables node\n2. Set up Airtable fields: Video Name, Google Drive Link, File ID, Instagram Status, TikTok Status, YouTube Status, Upload Date, Description\n3. Generate an API token at upload-post.com and add to Upload nodes\n4. Configure your Google Drive folder\n5. Customize the OpenAI prompt for your specific use case\n6. Optional: Configure Telegram for error notifications\n\n## Requirements\n- Airtable account with configured base\n- upload-post.com account\n- Google Drive account\n- OpenAI API key\n",
        "height": 300,
        "width": 860
      },
      "id": "4e080970-8dfb-4aa7-8cc0-ccfcffdcd3b2",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4624,
        3088
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "id": "fea98060-e430-4077-b20d-443a2da0c958",
      "name": "Get Audio from Video",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        5776,
        3440
      ],
      "notesInFlow": true,
      "retryOnFail": true,
      "typeVersion": 1,
      "waitBetweenTries": 5000,
      "notes": "Extract the audio from video for generate the description"
    },
    {
      "parameters": {
        "fileName": "={{ $json.originalFilename.replaceAll(\" \", \"_\") }}",
        "options": {}
      },
      "id": "1b066f8e-18e4-4cf3-8fe1-34c94f0a77ad",
      "name": "Read video from Google Drive",
      "type": "n8n-nodes-base.writeBinaryFile",
      "position": [
        5344,
        3440
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "You are an expert assistant in creating engaging social media video titles.",
              "role": "system"
            },
            {
              "content": "=I'm going to upload a video to social media. Here are some examples of descriptions that have worked well on Instagram:\n\nFollow and save for later. Discover InfluencersDe, the AI tool that automates TikTok creation and publishing to drive traffic to your website. Perfect for entrepreneurs and brands.\n#digitalmarketing #ugc #tiktok #ai #influencersde #contentcreation\n\nDiscover the video marketing revolution with InfluencersDe!\n.\n.\n.\n#socialmedia #videomarketing #ai #tiktok #influencersde #growthhacking\n\nDon't miss InfluencersDe, the tool that transforms your marketing strategy with just one click!\n.\n.\n.\n#ugc #ai #tiktok #digitalmarketing #influencersde #branding\n\nCan you create another title for the Instagram post based on this recognized audio from the video?\n\nAudio: {{ $('Get Audio from Video').item.json.text }}\n\nIMPORTANT: Reply only with the description, don't add anything else."
            }
          ]
        },
        "options": {}
      },
      "id": "b842a878-391f-46f7-aa00-6c7cf90fa1cb",
      "name": "Generate Description for Videos",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        5984,
        3440
      ],
      "notesInFlow": true,
      "retryOnFail": true,
      "typeVersion": 1.4,
      "waitBetweenTries": 5000,
      "notes": "Request to OpenAi for generate description with the audio extracted from the video"
    },
    {
      "parameters": {
        "authentication": "airtableTokenApi",
        "operation": "update",
        "application": {
          "__rl": true,
          "mode": "",
          "value": "={{ $('Set Variables').item.json.airtable_app_id }}"
        },
        "table": {
          "__rl": true,
          "mode": "",
          "value": "={{ $('Set Variables').item.json.airtable_table_id }}"
        },
        "id": "={{ $('Create Airtable Record').item.json.id }}",
        "updateAllFields": false,
        "fields": [
          "Description",
          "Video Name",
          "Google Drive Links",
          "Upload Date"
        ],
        "options": {}
      },
      "id": "59a06741-01bb-4859-9f15-7b9cf76233ef",
      "name": "Update Airtable with Description",
      "type": "n8n-nodes-base.airtable",
      "position": [
        6944,
        3440
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "filePath": "={{ $('Read video from Google Drive').item.json.originalFilename.replaceAll(\" \", \"_\") }}",
        "dataPropertyName": "datavideo"
      },
      "id": "a96c2530-2e40-4b36-a8f2-e875510368ad",
      "name": "Read Video for TikTok",
      "type": "n8n-nodes-base.readBinaryFile",
      "position": [
        7472,
        3200
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "filePath": "={{ $('Read video from Google Drive').item.json.originalFilename.replaceAll(\" \", \"_\") }}",
        "dataPropertyName": "datavideo"
      },
      "id": "fb079a50-8f2b-4a0d-b19c-ca385ca1715f",
      "name": "Read Video for Instagram",
      "type": "n8n-nodes-base.readBinaryFile",
      "position": [
        7456,
        3488
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "filePath": "={{ $('Read video from Google Drive').item.json.originalFilename.replaceAll(\" \", \"_\") }}",
        "dataPropertyName": "datavideo"
      },
      "id": "3b2d1f60-2b55-417c-9a8f-e2d7ff202904",
      "name": "Read Video for YouTube",
      "type": "n8n-nodes-base.readBinaryFile",
      "position": [
        7456,
        3760
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.upload-post.com/api/upload",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "={{ $('Generate Description for Videos').item.json.message.content.replaceAll(\"\\\"\", \"\") }}"
            },
            {
              "name": "platform[]",
              "value": "tiktok"
            },
            {
              "parameterType": "formBinaryData",
              "name": "video",
              "inputDataFieldName": "datavideo"
            },
            {
              "name": "user",
              "value": "={{ $('Set Variables').item.json.upload_post_user }}"
            }
          ]
        },
        "options": {}
      },
      "id": "22651c85-e329-4924-9619-d20639c8e866",
      "name": "Upload Video to TikTok",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        7712,
        3200
      ],
      "notesInFlow": true,
      "typeVersion": 4.2,
      "notes": "Generate in upload-post.com the token and add to the credentials in the header-> Authorization: Apikey (token here)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.upload-post.com/api/upload",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "={{ $('Generate Description for Videos').item.json.message.content.replaceAll(\"\\\"\", \"\") }}"
            },
            {
              "name": "platform[]",
              "value": "instagram"
            },
            {
              "parameterType": "formBinaryData",
              "name": "video",
              "inputDataFieldName": "datavideo"
            },
            {
              "name": "user",
              "value": "={{ $('Set Variables').item.json.upload_post_user }}"
            }
          ]
        },
        "options": {}
      },
      "id": "6f38b5f7-e46a-4ee1-b470-1e08a8fa2281",
      "name": "Upload Video to Instagram",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        7712,
        3488
      ],
      "notesInFlow": true,
      "typeVersion": 4.2,
      "notes": "Generate in upload-post.com the token and add to the credentials in the header-> Authorization: Apikey (token here)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.upload-post.com/api/upload",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "={{ $('Generate Description for Videos').item.json.message.content.replaceAll(\"\\\"\", \"\").substring(0, 70) }}\n"
            },
            {
              "name": "platform[]",
              "value": "youtube"
            },
            {
              "parameterType": "formBinaryData",
              "name": "video",
              "inputDataFieldName": "datavideo"
            },
            {
              "name": "user",
              "value": "={{ $('Set Variables').item.json.upload_post_user }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a0721da0-c445-47a0-866d-c7ce346f0679",
      "name": "Upload Video to YouTube",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        7712,
        3760
      ],
      "notesInFlow": true,
      "typeVersion": 4.2,
      "notes": "Generate in upload-post.com the token and add to the credentials in the header-> Authorization: Apikey (token here)"
    },
    {
      "parameters": {
        "authentication": "airtableTokenApi",
        "operation": "update",
        "application": {
          "__rl": true,
          "mode": "",
          "value": "={{ $('Set Variables').item.json.airtable_app_id }}"
        },
        "table": {
          "__rl": true,
          "mode": "",
          "value": "={{ $('Set Variables').item.json.airtable_table_id }}"
        },
        "id": "={{ $('Create Airtable Record').item.json.id }}",
        "updateAllFields": false,
        "fields": [
          "YouTube Status",
          "Youtube URL"
        ],
        "options": {}
      },
      "id": "36550f2d-36d2-4b26-9cb5-a5f3a4d34aba",
      "name": "Update YouTube Status - Success",
      "type": "n8n-nodes-base.airtable",
      "position": [
        8176,
        3760
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "authentication": "airtableTokenApi",
        "operation": "update",
        "application": {
          "__rl": true,
          "mode": "",
          "value": "={{ $('Set Variables').item.json.airtable_app_id }}"
        },
        "table": {
          "__rl": true,
          "mode": "",
          "value": "={{ $('Set Variables').item.json.airtable_table_id }}"
        },
        "id": "={{ $('Create Airtable Record').item.json.id }}",
        "updateAllFields": false,
        "fields": [
          "TikTok Status",
          "Tiktok URL"
        ],
        "options": {}
      },
      "id": "c3553e02-4461-488c-8217-52976557c59e",
      "name": "Update TikTok Status",
      "type": "n8n-nodes-base.airtable",
      "position": [
        8176,
        3200
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "authentication": "airtableTokenApi",
        "operation": "update",
        "application": {
          "__rl": true,
          "mode": "",
          "value": "={{ $('Set Variables').item.json.airtable_app_id }}"
        },
        "table": {
          "__rl": true,
          "mode": "",
          "value": "={{ $('Set Variables').item.json.airtable_table_id }}"
        },
        "id": "={{ $('Create Airtable Record').item.json.id }}",
        "updateAllFields": false,
        "fields": [
          "Instagram Status",
          "Instagram URL"
        ],
        "options": {}
      },
      "id": "1424862f-e63e-42f1-9d90-41b3f113874a",
      "name": "Update Instagram Status",
      "type": "n8n-nodes-base.airtable",
      "position": [
        8176,
        3488
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e611aba1-e55c-4221-b03b-04008a04fa9c",
              "name": "ID",
              "type": "string",
              "value": "={{ $('Update Airtable with Description').item.json.id }}"
            },
            {
              "id": "47f61cd2-6dd6-4714-b772-3e0537accecd",
              "name": "TikTok Status",
              "type": "string",
              "value": "=success: {{ $json.results.tiktok.success }}"
            },
            {
              "id": "12829ca5-2780-4779-be0c-ff1712c012d8",
              "name": "Tiktok URL",
              "type": "string",
              "value": "={{ $json.results.tiktok?.url || \"error\" }}"
            }
          ]
        },
        "options": {}
      },
      "id": "3bf552f2-cb7d-49a2-9b80-06174ee11019",
      "name": "Edit Airtable Fields",
      "type": "n8n-nodes-base.set",
      "position": [
        7952,
        3200
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e611aba1-e55c-4221-b03b-04008a04fa9c",
              "name": "ID",
              "type": "string",
              "value": "={{ $('Update Airtable with Description').item.json.id }}"
            },
            {
              "id": "47f61cd2-6dd6-4714-b772-3e0537accecd",
              "name": "Instagram Status",
              "type": "string",
              "value": "=success: {{ $json.results.instagram.success }}"
            },
            {
              "id": "12829ca5-2780-4779-be0c-ff1712c012d8",
              "name": "Instagram URL",
              "type": "string",
              "value": "={{ $json.results.instagram?.url || \"error\" }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e143c2e7-6355-4c07-8854-5755849bb5e6",
      "name": "Edit Airtable Fields 2",
      "type": "n8n-nodes-base.set",
      "position": [
        7952,
        3488
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e611aba1-e55c-4221-b03b-04008a04fa9c",
              "name": "ID",
              "type": "string",
              "value": "={{ $('Update Airtable with Description').item.json.id }}"
            },
            {
              "id": "47f61cd2-6dd6-4714-b772-3e0537accecd",
              "name": "YouTube Status",
              "type": "string",
              "value": "=success: {{ $json.results.youtube.success }}"
            },
            {
              "id": "12829ca5-2780-4779-be0c-ff1712c012d8",
              "name": "Youtube URL",
              "type": "string",
              "value": "={{ $json.results.youtube?.url || \"error\" }}"
            }
          ]
        },
        "options": {}
      },
      "id": "5b107709-912a-4c9b-be8a-a1b00c1d0145",
      "name": "Edit Airtable Fields 3",
      "type": "n8n-nodes-base.set",
      "position": [
        7952,
        3760
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e611aba1-e55c-4221-b03b-04008a04fa9c",
              "name": "ID",
              "type": "string",
              "value": "={{ $json.id }}"
            },
            {
              "id": "47f61cd2-6dd6-4714-b772-3e0537accecd",
              "name": "Description",
              "type": "string",
              "value": "={{ $('Generate Description for Videos').item.json.message.content }}"
            },
            {
              "id": "f44cc764-ed17-48c3-80e4-c320c6c67a7c",
              "name": "Video Name",
              "type": "string",
              "value": "={{ $('Google Drive').item.json.originalFilename }}"
            },
            {
              "id": "432688c0-d430-4e83-852c-91aad7b4ea79",
              "name": "Google Drive Links",
              "type": "string",
              "value": "={{ $('Google Drive').item.json.webViewLink }}"
            },
            {
              "id": "8804ac95-05d7-48e2-a49d-60213131ec62",
              "name": "Upload Date",
              "type": "string",
              "value": "={{ $now }}"
            },
            {
              "id": "12829ca5-2780-4779-be0c-ff1712c012d8",
              "name": "",
              "type": "string",
              "value": ""
            }
          ]
        },
        "options": {}
      },
      "id": "2f623d18-f092-4069-9df8-9fec046fc180",
      "name": "Edit Airtable Fields1",
      "type": "n8n-nodes-base.set",
      "position": [
        6768,
        3440
      ],
      "typeVersion": 3.4
    }
  ],
  "pinData": {},
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Read video from Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Variables": {
      "main": [
        [
          {
            "node": "Create Airtable Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Airtable Fields": {
      "main": [
        [
          {
            "node": "Update TikTok Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Audio from Video": {
      "main": [
        [
          {
            "node": "Generate Description for Videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Airtable Fields1": {
      "main": [
        [
          {
            "node": "Update Airtable with Description",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Video for TikTok": {
      "main": [
        [
          {
            "node": "Upload Video to TikTok",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Airtable Record": {
      "main": [
        [
          {
            "node": "Edit Airtable Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Airtable Fields 2": {
      "main": [
        [
          {
            "node": "Update Instagram Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Airtable Fields 3": {
      "main": [
        [
          {
            "node": "Update YouTube Status - Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Video for YouTube": {
      "main": [
        [
          {
            "node": "Upload Video to YouTube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Video to TikTok": {
      "main": [
        [
          {
            "node": "Edit Airtable Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Video to YouTube": {
      "main": [
        [
          {
            "node": "Edit Airtable Fields 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Video for Instagram": {
      "main": [
        [
          {
            "node": "Upload Video to Instagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Video to Instagram": {
      "main": [
        [
          {
            "node": "Edit Airtable Fields 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read video from Google Drive": {
      "main": [
        [
          {
            "node": "Get Audio from Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Description for Videos": {
      "main": [
        [
          {
            "node": "Set Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Airtable with Description": {
      "main": [
        [
          {
            "node": "Read Video for TikTok",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Video for Instagram",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Video for YouTube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cd064606110cd556c28b75944cc984cddb10bbdd63deca196ea4cb4095990bc2"
  },
  "tags": []
}