N8N Workflows Mega Library/4000+ N8N Agents/All 4000 N8n Agents/BEST OF N8N AGENTS/Generate AI Video Avatars from URLs with HeyGen, Gemini & Upload to Social Media.json
{
  "name": "AI Video Avatar Generator: Turn URLs into Shorts (Using Free Tier APIS)",
  "nodes": [
    {
      "parameters": {
        "content": "# What does this workflow do?\n\n## Description\n\nThis AI Avatar Viral News system turns any URL—a news article, blog post, or even an n8n workflow page—into a short, vertical talking-head AI video that explains the content for you (no filming or editing required). It uses Gemini to fetch and summarize the page, writes a punchy script and captions, then generates the video with HeyGen. Finally, it sends the MP4 to **Upload-Post** to publish or schedule across your social profiles.\n\n### The 4 video types we generate\n\n**Free (zero cost, full free trial of APIs):**\n1) **Split-screen (vertical) with background video**: top half shows an auto-scroll capture of the article/blog/workflow; bottom half shows your avatar speaking and gesturing.\n2) **Split-screen (vertical) with static image**: same layout, but instead of a background video, we use a single static image (e.g., the article’s hero image or a screenshot).\n\n**Paid heygen api (background removal):**\n3) **Cut-out avatar over background video**: your avatar is cleanly cut out and overlaid on top of a background video.\n4) **Cut-out avatar over static image**: your avatar is cleanly cut out and overlaid on a single static image.\n\n> Notes:\n> - Free/Trial modes use split-screen (no background removal).\n> - Paid modes use background removal for a clean overlay (depends on HeyGen plan and API availability).\n\n### HeyGen rendering modes\n- **Free / Trial (no background removal):** split-screen look (avatar on the lower half, background video or static image on the upper half).\n- **Paid API (with background removal):** clean cut-out avatar over a background video or a static image. Enable by setting `background_removal: true` in the **Set Input Vars** node (requires a paid HeyGen API plan).\n\n## Overview\n\n1. **Manual trigger**\n\n2. **AI agent: fetch webpage & generate script**  \n   - The agent grabs the target page and produces a concise, 30–45s script.  \n   - Generates platform-optimized captions/descriptions.\n\n3. **Create avatar video (HeyGen)**  \n   - Call the HeyGen API with your `avatar_id` and `voice_id`.  \n   - Choose layout/background:\n     - **Free / Trial:** split-screen vertical.\n       - **Background as video:** set `has_background_video: true` and provide `background_video_url`.\n       - **Background as static image:** set `has_background_image: true` and provide `background_image_url`.\n     - **Paid:** background removal overlay.\n       - **Overlay on video:** set `background_removal: true` and `background_video_url`.\n       - **Overlay on static image:** set `background_removal: true` and `background_image_url`.\n\n4. **Get video**  \n   - Poll HeyGen until the job completes, then download the final MP4.  \n   - Upload the resulting video file to **Upload-Post**.\n\n5. **Human review / approval**  \n   - A human reviews the video, title, and captions. Approve to continue, or request changes and loop back to steps 2–4.\n\n6. **Publish to social media via Upload-Post**  \n   - Connect your social profiles in **Upload-Post**.  \n   - Pick platforms (e.g., TikTok, Instagram, YouTube, X, Facebook, etc.).  \n   - Publish immediately or schedule for later.",
        "height": 1312,
        "width": 1456
      },
      "id": "9b9d9270-1611-4fc4-9693-623da2ccc9e7",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        512,
        -96
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# Post to All social networks\n",
        "height": 976,
        "width": 320
      },
      "id": "890e4174-ff2c-4349-bd7f-0606be4fcf66",
      "name": "Sticky Note10",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3088,
        1216
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# Create video\n\n- **HeyGen modes:**\n  - **Free / Trial (no background removal):** the avatar sits in the lower half of the frame while the upper half shows the background video (split-screen look).\n  - **Paid API (with background removal):** the avatar is cleanly cut out and overlaid on top of the background video. Enable it in **SETUP HEYGEN** by setting the HeyGen var `background_removal` to `true`. Pricing: https://www.heygen.com/api-pricing\n- You can use a custom **ElevenLabs** voice by connecting ElevenLabs inside the HeyGen web app.\n\n",
        "height": 980,
        "width": 1424,
        "color": 4
      },
      "id": "22047e4c-171d-42c2-bb66-5fce03c82fc8",
      "name": "Sticky Note12",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1248,
        1216
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "For background removal need heygen api paid plan and set true in var background_removal",
        "height": 116,
        "width": 182,
        "color": 3
      },
      "id": "ee921deb-6b1b-4f68-9603-1d00d179a4e1",
      "name": "Sticky Note13",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        144,
        1520
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "73001c6b-fae2-48cd-b0a6-aa453b837902",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $('Set Input Vars').item.json.background_removal }}",
              "rightValue": ""
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "775cbbcd-a0c9-4920-a373-63e2bd656126",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "position": [
        1456,
        1632
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "id": "7a6e8477-9e61-412b-bf13-9164e05af586",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "position": [
        2064,
        1632
      ],
      "webhookId": "d9404622-0a06-4a65-959e-badd4fd87465",
      "typeVersion": 1.1,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "url": "https://api.heygen.com/v1/video_status.get",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "video_id",
              "value": "={{ $('Edit Fields').item.json.video_id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "={{ $('Set Input Vars').item.json.heygen_api_key }}"
            }
          ]
        },
        "options": {}
      },
      "id": "bf5643ca-5794-45e5-aa5c-96a21af1303e",
      "name": "Get Avatar Video",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2224,
        1632
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "e511deb8-8e4c-45db-aa35-18f43a0552b6",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $('Get Avatar Video').item.json.data.status }}",
              "rightValue": "completed"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "b84788c4-1ee3-4cad-aa70-2c75e4305115",
      "name": "If Video Done",
      "type": "n8n-nodes-base.if",
      "position": [
        2384,
        1632
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# Role & Persona\nEres Creador experto de contenido short-form y Evangelista de n8n. Tono cercano, builder, práctico, con un punto nerd simpático. Tu objetivo: contar una historia útil en ~30s basada en **cualquier página web** (noticia, post de blog, documentación o workflow de n8n) y animar a quienes te ven a probarlo o quedarse con la idea clave.\n\n# Contexto de Producción del Vídeo\n- De fondo se mostrará **la propia web** (la URL analizada) haciendo **scroll vertical** por secciones relevantes.\n- En primer plano, **mi avatar (HeyGen)** habla el guion en una ventana inferior.\n- El guion debe ser **solo texto** (sin acotaciones, efectos ni notas, ni saltos de linea ni emotes), óptimo para TTS de HeyGen.\n\n# Fuente de Verdad (HTTP Request + Análisis Único)\n1) **URL a analizar (cualquier contenido):** `{{ $json.workflow_url }}`\n2) **Descarga el HTML** (HTTP GET) y analiza:\n   - **Idea/Problema/Hecho principal** que comunica la página.\n   - **Resultado/beneficio/impacto** para el usuario.\n   - **Detalles y datos** relevantes (fechas, cifras, comparativas, quotes).\n   - **Tecnologías/nodos/servicios** si se trata de un workflow de n8n (por ejemplo OpenAI, Google Sheets, APIs, etc.).\n3) **imageUrl (imagen representativa de la página):**\n   - Primero busca `<meta property=\"og:image\" content=\"...\">`.\n   - Si el contenido es un workflow, intenta que la imagen sea el **diagrama** (nodos y conexiones). Si el og:image no sirve:\n     - Recorre `<img>` y elige la imagen principal del contenido (pistas: `workflow`, `diagram`, `template`, `graph`, o la imagen más central/grande del artículo).\n   - Si no hay una imagen adecuada, usa `imageUrl: \"\"`.\n\n# Requisitos del Guion (30s, un único guion para todas las plataformas)\n- **Idioma:** Español (España), natural y directo.\n- **Nivel de lectura:** ~6º de primaria (frases cortas, vocabulario claro).\n- **Hook inicial (2–3s):** crea una **curiosity gap** irresistible (≤ 12 palabras si puedes).\n- **Estructura:** Problema/Hecho → Contexto/Solución → Ejemplo/Impacto → **CTA**.\n- **Datos**: incluye **detalles y estadísticas** concretas si están en la página; si es workflow, menciona **nodos/servicios** clave sin aburrir.\n- **CTA final del estilo (HeyGen/TTS) Solo si es un workflow de n8n :** “Sigueme y Comenta la palabra workflow y te lo mando por mensaje privado”\n- **sin Emojis, texto plano.\n- **Sin enlaces crudos** en el guion (usa “link en bio/comentarios” si aplica).\n- **Sin acotaciones** de escena o efectos (texto plano para TTS).\n- Texto plano porque se lo pasamos luego a elevenlabs para que hable\n\n# Regla de Autor\n- Si el autor es Carlos Gracia o Juan Carlos Cavero Gracia , redacta en primera persona; si no, en tercera persona.\n\n# Caption SEO (acompaña el vídeo)\n- Redacta una **caption optimizada SEO** en español que:\n  - Resuma el tema con claridad.\n  - Añada **2–3 bullets** tipo FAQs/puntos clave.\n  - Use **hasta 5 hashtags** relevantes y específicos.\n\n# Título Viral (muy corto)\n- Escribe **1 frase viral** (máx. **8 palabras**), nivel 6º de primaria, **neutral**, **sin emojis** y sin puntuación salvo `?` o `!`.\n\n# Descripciones por Plataforma (Short-form orgánico)\nGenera **descripciones específicas por plataforma** para el **mismo guion**:\n- **TikTok:** 1–2 frases + 3–5 hashtags. (≈ 200–300 caracteres)\n- **Instagram Reels:** 2–3 frases + 5–7 hashtags (#n8n #Automatización #NoCode #API #Productividad + específicas). (≈ 400–600 caracteres)\n- **YouTube Shorts:** muy corta, 1 frase + 2–3 hashtags. (≈ 120–160 caracteres)\n\n# Formatos de Salida (JSON ESTRICTO)\nDevuelve **4 bloques JSON** separados, sin arrays, uno por línea, sin comas finales:\n\n1) **TikTok** (guion común + descripción adaptada, usa imageUrl si procede):\n{\"platform\":\"tiktok\",\"guion\":\"GUION_COMUN_EN_ESPANOL_30S\",\"descripcion\":\"DESCRIPCION_TIKTOK\",\"imageUrl\":\"IMAGE_URL_AQUI\"}\n\n2) **Instagram**:\n{\"platform\":\"instagram\",\"guion\":\"GUION_COMUN_EN_ESPANOL_30S\",\"descripcion\":\"DESCRIPCION_INSTAGRAM\",\"imageUrl\":\"IMAGE_URL_AQUI\"}\n\n3) **YouTube Shorts**:\n{\"platform\":\"youtube_shorts\",\"guion\":\"GUION_COMUN_EN_ESPANOL_30S\",\"descripcion\":\"TITULO_YOUTUBE_SHORTS_MUY_CORTO_MAX_100_CARACTERES\",\"imageUrl\":\"IMAGE_URL_AQUI\"}\n\n4) **Bundle para Avatar (HeyGen/TTS)**:\n{\n  \"script\": \"Monologue script (solo texto, ~30s, nivel 6º primaria, curiosity gap al inicio, datos si existen, y que me sigan\",\n  \"caption\": \"Caption SEO en español (máx. 5 hashtags)\",\n  \"title\": \"Frase viral corta (≤ 8 palabras, sin emojis, sin puntuación salvo ? o !)\"\n}\n\n# Reglas de Estilo y Contenido (recordatorio)\n- Nada de relleno (“en este video te voy a…”): ve **al grano**.\n- Hashtags **relevantes** y **limitados**.\n- Mantén **coherencia** con el contenido real de la página analizada.\n- Si la URL no carga o es ambigua, genera un guion verosímil según título y primeros textos; en descripciones sugiere “revisar enlace en bio/comentarios” (sin romper el JSON).\n\n# Checklist antes de devolver\n- [ ] Hook potente en 2–3s con curiosity gap.\n- [ ] Problema/Hecho → Contexto/Solución → Ejemplo/Impacto → CTA en ≤ 30s.\n- [ ] Nivel 6º primaria; datos concretos si existen.\n- [ ] Máx. 2 emojis en guion común; texto plano para TTS.\n- [ ] 3 objetos para plataformas + 1 bundle para avatar.\n- [ ] imageUrl válida (og:image o imagen principal); si no, \"\".\n",
        "hasOutputParser": true,
        "options": {}
      },
      "id": "6cb3bbf1-836f-47a5-ae2e-06378f0759e5",
      "name": "Social Media Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        400,
        1648
      ],
      "typeVersion": 1.6
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "7cb28916-c0b4-41d2-8432-646a3ec5e2fa",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        400,
        1856
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', ``, 'string') }}",
        "options": {}
      },
      "id": "c253c8ac-cb39-42a4-9f63-da2ffdfb7afe",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequestTool",
      "position": [
        528,
        1968
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "jsonSchemaExample": "[\n  {\n    \"platform\": \"tiktok\",\n    \"guion\": \"GUION_COMUN_EN_ESPANOL_30S\",\n    \"descripcion\": \"DESCRIPCION_TIKTOK_CORTA_CON_3_A_5_HASHTAGS\",\n    \"imageUrl\": \"optional_image_url\"\n  },\n  {\n    \"platform\": \"instagram\",\n    \"guion\": \"GUION_COMUN_EN_ESPANOL_30S\",\n    \"descripcion\": \"DESCRIPCION_INSTAGRAM_MEDIA_CON_5_A_7_HASHTAGS\",\n    \"imageUrl\": \"optional_image_url\"\n  },\n  {\n    \"platform\": \"youtube_shorts\",\n    \"guion\": \"GUION_COMUN_EN_ESPANOL_30S\",\n    \"descripcion\": \"TITULO_YOUTUBE_SHORTS_MUY_CORTO_MAX_100_CARACTERES\",\n    \"imageUrl\": \"optional_image_url\"\n  }\n]\n",
        "autoFix": true
      },
      "id": "567f90a8-c49f-491f-90b4-c7c64199f6c2",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        640,
        1856
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "cbcacc0a-c827-4784-8aa0-783be9677d45",
      "name": "Google Gemini Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        640,
        1984
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "482b39ac-69a5-425c-9f58-da68c799b0f4",
      "name": "When clicking ‘Execute workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -16,
        1648
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.heygen.com/v2/video/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "={{ $('Set Input Vars').item.json.heygen_api_key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"video_inputs\": [\n    {\n      \"character\": {\n        \"type\": \"avatar\",\n        \"avatar_id\": \"{{ $('Set Input Vars').item.json.avatar_id }}\",\n        \"avatar_style\": \"normal\",\n        \"scale\": 1,\n        \"offset\": { \n          \"x\": 0.15,\n          \"y\": 0.15 \n        },\n        \"matting\": true\n      },\n      \"voice\": {\n        \"type\": \"text\",\n        \"input_text\": \"{{ $('Social Media Agent').item.json.output[0].guion }}\",\n        \"voice_id\": \"{{ $('Set Input Vars').item.json.voice_id }}\",\n        \"speed\": 1.1,\n        \"pitch\": 50,\n        \"emotion\": \"Excited\"\n      },\n      \"background\": {\n        \"type\": \"video\",\n        \"url\": \"{{ $('upload to heygen').item.json.data.url }}\",\n        \"play_style\": \"loop\",\n        \"fit\": \"cover\"\n      }\n    }\n  ],\n  \"dimension\": { \"width\": 720, \"height\": 1280 },\n  \"aspect_ratio\": \"9:16\",\n  \"caption\": false,\n  \"title\": \"n8n-avatar\"\n}\n",
        "options": {}
      },
      "id": "925a314b-40b4-4148-b709-4f2e5613ef16",
      "name": "Create video avatar with background removal",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1648,
        1504
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.heygen.com/v2/video/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "={{ $('Set Input Vars').item.json.heygen_api_key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"video_inputs\": [\n    {\n      \"character\": {\n        \"type\": \"avatar\",\n        \"avatar_id\": \"{{ $('Set Input Vars').item.json.avatar_id }}\",\n        \"avatar_style\": \"normal\",\n        \"scale\": 1.8,\n        \"offset\": { \n        \"x\": 0.0,\n        \"y\": 0.32 \n        }\n      },\n      \"voice\": {\n        \"type\": \"text\",\n        \"input_text\": \"{{ $('Social Media Agent').item.json.output[0].guion }}\",\n        \"voice_id\": \"{{ $('Set Input Vars').item.json.voice_id }}\",\n        \"speed\": 1.1,\n        \"pitch\": 50,\n        \"emotion\": \"Excited\"\n      },\n      \"background\": {\n        \"type\": \"video\",\n        \"url\": \"{{ $('upload to heygen').item.json.data.url }}\",\n        \"play_style\": \"loop\",\n        \"fit\": \"cover\"\n      }\n    }\n  ],\n  \"dimension\": { \"width\": 720, \"height\": 1280 },\n  \"aspect_ratio\": \"9:16\",\n  \"caption\": false,\n  \"title\": \"n8n-avatar\"\n}\n",
        "options": {}
      },
      "id": "45776258-f423-4f61-83fd-bb4edcad2964",
      "name": "Create video avatar with split screen (heygen free trial api)",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1648,
        1664
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "url": "https://api.heygen.com/v1/video_status.get",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "video_id",
              "value": "={{ $json.data.id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "={{ $('Set Input Vars').item.json.heygen_api_key }}"
            }
          ]
        },
        "options": {}
      },
      "id": "8a63a15c-93e8-44cc-91f1-d1bfc77cd05b",
      "name": "Get video url",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2544,
        1616
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "url": "=https://api.screenshotone.com/animate?access_key={{ $('Set Input Vars').item.json.screenshotone.comAPI_KEY }}&url={{ $('Set Input Vars').item.json.workflow_url }}&format=mp4&viewport_width=1080&viewport_height=1920&viewport_mobile=true&block_ads=true&storage_return_location=true&block_cookie_banners=true&block_banners_by_heuristics=false&block_trackers=true&delay=10&timeout=60&scenario=scroll&duration=30&scroll_delay=5000&scroll_duration=200&scroll_by=400&scroll_start_immediately=true&scroll_start_delay=5000&scroll_back=true&scroll_complete=true&scroll_easing=ease_in_out_quint&scroll_try_navigate=false",
        "options": {}
      },
      "id": "d2fe0108-08bb-4305-8d4a-d2cf6b601451",
      "name": "Get background video",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1024,
        1632
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "content": "# Generate script and backgroud video\n",
        "height": 980,
        "width": 1312,
        "color": 6
      },
      "id": "e95eabc4-6779-44c0-a23a-222b771467b4",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -64,
        1216
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resume": "form",
        "formTitle": "Review the posts ",
        "formDescription": "={{ $json.data.video_url }}",
        "formFields": {
          "values": [
            {
              "fieldLabel": "decision",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "approve"
                  },
                  {
                    "option": "reject"
                  }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "id": "112a51ce-456c-4ce6-b719-31479babe163",
      "name": "Wait to approve by user1",
      "type": "n8n-nodes-base.wait",
      "position": [
        2736,
        1616
      ],
      "webhookId": "f8e6054e-44e4-4987-9698-d5befb8b31b6",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "394500db-496d-4c6e-9adb-59f3caead492",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $('Wait to approve by user1').item.json.decision }}",
              "rightValue": "=approve"
            }
          ]
        },
        "looseTypeValidation": "=true",
        "options": {}
      },
      "id": "12220f03-23b1-4431-ba6d-43e1b0829c08",
      "name": "If approved publish1",
      "type": "n8n-nodes-base.if",
      "position": [
        2880,
        1616
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "content": "# Approval by human for upload to social networks\n",
        "height": 976,
        "width": 416,
        "color": 7
      },
      "id": "db9eb4ce-222e-48a2-8b7c-0845ff89eab3",
      "name": "Sticky Note11",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2672,
        1216
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "uploads",
        "operation": "uploadVideo"
      },
      "id": "9c7c6f23-8d46-40f3-a9a9-68a63c6da2dc",
      "name": "Upload video to all social networks",
      "type": "n8n-nodes-preview-upload-post.uploadPost",
      "position": [
        3184,
        1600
      ],
      "typeVersion": 1,
      "credentials": {}
    },
    {
      "parameters": {
        "content": "## Setup\n\n### 1) Accounts & API keys\n- **HeyGen** (Free/Trial or Paid API). Background removal requires the **paid** API plan.\n- **https://dash.screenshotone.com/** (Free trial not credit card) for generate video background of the url\n- **Upload-Post** (Free trial not credit card) for publishing.\n- **OpenAI/Gemini** for scripting.\n- *(Optional)* **ElevenLabs** (custom voice linked inside HeyGen).\n\n### Add variables :\n- In the Set Input Vars node\n\n### 2) HeyGen configuration\n- **Choose rendering mode**\n  - **Free / Trial:** no background removal → split-screen layout (avatar bottom half, background video top half).\n    - Set `background_removal: false`.\n  - **Paid API:** background removal → clean cut-out avatar overlaid on the background video.\n    - Set `background_removal: true` (requires paid plan).\n- In the **Set Input Vars** node set:\n  - `avatar_id` and `voice_id`\n  - `background_video_url: https://...` (if using a background)\n\n### 3) Upload-Post configuration\n- In **SETUP UPLOAD-POST** node:\n  - Generate api key and connect social networs: https://app.upload-post.com\n  - Select the social networks you want to upload platform\n  - The description for each social network is generated by AI agent\n  - publish now or schedule_at\n\n\n",
        "height": 1024,
        "width": 912
      },
      "id": "b948f14d-3ea0-47cc-9269-7b80a2f2831a",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1968,
        192
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "=https://api.screenshotone.com/take?access_key={{ $('Set Input Vars').item.json.screenshotone.comAPI_KEY }}&url={{ $('Set Input Vars').item.json.workflow_url }}&viewport_width=1080&viewport_height=1920&viewport_mobile=false&format=jpg&block_ads=true&block_cookie_banners=true&block_banners_by_heuristics=false&block_trackers=true&delay=10&timeout=60&response_type=json&image_quality=80",
        "options": {}
      },
      "id": "e47c4f96-3077-4b7e-885f-73ec45bba0a8",
      "name": "Get background photo",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1024,
        2016
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "73001c6b-fae2-48cd-b0a6-aa453b837902",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.background_removal }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "cf77ec86-72c6-4bda-954a-1bf8b55b37f2",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "position": [
        1328,
        2016
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.heygen.com/v2/video/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "={{ $('Set Input Vars').item.json.heygen_api_key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"video_inputs\": [\n    {\n      \"character\": {\n        \"type\": \"avatar\",\n        \"avatar_id\": \"{{ $('Set Input Vars').item.json.avatar_id }}\",\n        \"avatar_style\": \"normal\",\n        \"scale\": 1,\n        \"offset\": { \n          \"x\": 0.15,\n          \"y\": 0.15 \n        },\n        \"matting\": true\n      },\n      \"voice\": {\n        \"type\": \"text\",\n        \"input_text\": \"{{ $('Social Media Agent').item.json.output[0].guion }}\",\n        \"voice_id\": \"{{ $('Set Input Vars').item.json.voice_id }}\",\n        \"speed\": 1.1,\n        \"pitch\": 50,\n        \"emotion\": \"Excited\"\n      },\n      \"background\": {\n        \"type\": \"image\",\n        \"url\": \"{{ $('Get background photo').item.json.screenshot_url }}\",\n        \"fit\": \"cover\"\n      }\n    }\n  ],\n  \"dimension\": { \"width\": 720, \"height\": 1280 },\n  \"aspect_ratio\": \"9:16\",\n  \"caption\": false,\n  \"title\": \"n8n-avatar\"\n}\n",
        "options": {}
      },
      "id": "b8bd706a-8379-4a6e-9eae-b792b69f3ffc",
      "name": "Create video avatar with background removal1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1648,
        1856
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.heygen.com/v2/video/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "={{ $('Set Input Vars').item.json.heygen_api_key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"video_inputs\": [\n    {\n      \"character\": {\n        \"type\": \"avatar\",\n        \"avatar_id\": \"{{ $('Set Input Vars').item.json.avatar_id }}\",\n        \"avatar_style\": \"normal\",\n        \"scale\": 1.8,\n        \"offset\": { \n        \"x\": 0.0,\n        \"y\": 0.32 \n        }\n      },\n      \"voice\": {\n        \"type\": \"text\",\n        \"input_text\": \"{{ $('Social Media Agent').item.json.output[0].guion }}\",\n        \"voice_id\": \"{{ $('Set Input Vars').item.json.voice_id }}\",\n        \"speed\": 1.1,\n        \"pitch\": 50,\n        \"emotion\": \"Excited\"\n      },\n      \"background\": {\n        \"type\": \"photo\",\n        \"url\": \"{{ $('Get background photo').item.json.screenshot }}\",\n        \"play_style\": \"loop\",\n        \"fit\": \"cover\"\n      }\n    }\n  ],\n  \"dimension\": { \"width\": 720, \"height\": 1280 },\n  \"aspect_ratio\": \"9:16\",\n  \"caption\": false,\n  \"title\": \"n8n-avatar\"\n}\n",
        "options": {}
      },
      "id": "f2284c51-55d1-4658-b2ce-e8b14fd7bdf4",
      "name": "Create video avatar with split screen (heygen free trial api)1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1648,
        2032
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ab234870-d90d-4b54-8916-5084080e1ad8",
              "name": "workflow_url",
              "type": "string",
              "value": "https://www.xataka.com/empresas-y-economia/openai-acaba-mover-ficha-su-separacion-bienes-microsoft-ha-firmado-acuerdo-amazon-38-000-millones-dolares"
            },
            {
              "id": "6268ce66-0e20-4461-a2fa-cb6e53a8cd0c",
              "name": "screenshotone.comAPI_KEY",
              "type": "string",
              "value": ""
            },
            {
              "id": "d8870ebc-338f-4f0c-8c87-830eed637e8d",
              "name": "heygen_api_key",
              "type": "string",
              "value": ""
            },
            {
              "id": "ebf525fe-abd2-47cd-8d80-2e0897674dc8",
              "name": "avatar_id",
              "type": "string",
              "value": ""
            },
            {
              "id": "5ca261cc-aa2c-4f30-8ff7-0605133ca201",
              "name": "voice_id",
              "type": "string",
              "value": ""
            },
            {
              "id": "95a9fd9f-a88c-408a-a8e6-5daee5c6eb5f",
              "name": "background_removal",
              "type": "string",
              "value": "true"
            },
            {
              "id": "a6542328-c98b-4048-8f49-f4c638df472f",
              "name": "background_type",
              "type": "string",
              "value": "video"
            }
          ]
        },
        "options": {}
      },
      "id": "af524356-6646-4275-8757-410e5e0cce48",
      "name": "Set Input Vars",
      "type": "n8n-nodes-base.set",
      "position": [
        176,
        1648
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "394500db-496d-4c6e-9adb-59f3caead492",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $('Set Input Vars').item.json.background_type }}",
              "rightValue": "=video"
            }
          ]
        },
        "looseTypeValidation": "=true",
        "options": {}
      },
      "id": "52cf64d2-ac43-446f-95aa-efceded7c1f9",
      "name": "video or photo",
      "type": "n8n-nodes-base.if",
      "position": [
        768,
        1648
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://upload.heygen.com/v1/asset",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "={{ $('Set Input Vars').item.json.heygen_api_key }}"
            },
            {
              "name": "Content-Type",
              "value": "video/mp4"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "id": "01ed7756-f8c7-4eb0-b5ca-58c17ea17ebe",
      "name": "upload to heygen",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1280,
        1632
      ],
      "typeVersion": 4.3
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ac5899dd-52f6-48bb-981e-9cb60696e461",
              "name": "video_id",
              "type": "string",
              "value": "={{ $json.data.video_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "958a900d-86a0-40da-a2eb-0eb9d73838a1",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "position": [
        1888,
        1632
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "## Video DEMO\n\n\n@[youtube](fh3t6Kc2oRM)",
        "height": 416,
        "width": 512
      },
      "id": "de480014-16ee-4a4e-9f57-d505d4da3c54",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -80,
        480
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {
    "When clicking ‘Execute workflow’": [
      {
        "json": {}
      }
    ]
  },
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Create video avatar with background removal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create video avatar with split screen (heygen free trial api)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Create video avatar with background removal1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create video avatar with split screen (heygen free trial api)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get Avatar Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get video url": {
      "main": [
        [
          {
            "node": "Wait to approve by user1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "ai_tool": [
        [
          {
            "node": "Social Media Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "If Video Done": {
      "main": [
        [
          {
            "node": "Get video url",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Input Vars": {
      "main": [
        [
          {
            "node": "Social Media Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "video or photo": {
      "main": [
        [
          {
            "node": "Get background video",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get background photo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Avatar Video": {
      "main": [
        [
          {
            "node": "If Video Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "upload to heygen": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Social Media Agent": {
      "main": [
        [
          {
            "node": "video or photo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get background photo": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get background video": {
      "main": [
        [
          {
            "node": "upload to heygen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If approved publish1": {
      "main": [
        [
          {
            "node": "Upload video to all social networks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Social Media Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Social Media Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Wait to approve by user1": {
      "main": [
        [
          {
            "node": "If approved publish1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Set Input Vars",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create video avatar with background removal": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create video avatar with background removal1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create video avatar with split screen (heygen free trial api)": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create video avatar with split screen (heygen free trial api)1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "",
  "meta": {
    "instanceId": "cd064606110cd556c28b75944cc984cddb10bbdd63deca196ea4cb4095990bc2"
  },
  "tags": []
}