N8N Workflows Mega Library/4000+ N8N Agents/All 4000 N8n Agents/BEST OF N8N AGENTS/Transform Old Photos into Animated Videos with FLUX & Kling AI for Social Media.json
{
  "name": "Convert Old Photos to AI Videos And Auto-Publish in FB, IG, YT & X",
  "nodes": [
    {
      "parameters": {
        "path": "animate-photo-form",
        "formTitle": "Colorize and Animate Old Photos",
        "formDescription": "Upload an old photo to colorize and animate it with AI",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Upload Old Photo",
              "fieldType": "file",
              "requiredField": true
            },
            {
              "fieldLabel": "Custom Animation Description (Optional)",
              "fieldType": "textarea",
              "placeholder": "Describe how you'd like the photo to be animated (e.g., 'make the person smile and blink')"
            }
          ]
        },
        "options": {}
      },
      "id": "b40693a5-8949-4e7b-a2df-b5bcc08db150",
      "name": "Photo Upload Form",
      "type": "n8n-nodes-base.formTrigger",
      "position": [
        4224,
        2336
      ],
      "webhookId": "animate-photo-form",
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "content": "# Colorize and Animate Old Photos with AI\n\nThis workflow allows users to **upload old photos** and automatically:\n1. **Colorize and enhance** them using FLUX Kontext\n2. **Animate** them using Kling Video AI\n3. **Save** the final video to Google Drive\n\nSimply upload your old photo through the form and get back a colorized, animated video!",
        "height": 280,
        "width": 740,
        "color": 3
      },
      "id": "04911007-0891-485b-ae98-0cd3a2045b83",
      "name": "Workflow Description",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4240,
        1472
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/flux-pro/kontext",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"Colorize this old black and white or sepia photograph. Make it look natural and vibrant with realistic colors. Remove any noise, scratches, or artifacts. Enhance the image quality and make it crystal clear. Keep all the original details and people exactly as they are, just add beautiful, realistic colors and improve the overall quality\",\n  \"image_url\": \"{{ $json.data.url }}\",\n  \"num_images\": 1\n}",
        "options": {}
      },
      "id": "43f2784e-9070-49ce-ae25-808a48633db2",
      "name": "Colorize Image",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        4768,
        2336
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {},
      "id": "2a35d962-3b9e-4134-a1ac-592582937220",
      "name": "Wait for Colorization",
      "type": "n8n-nodes-base.wait",
      "position": [
        4992,
        2336
      ],
      "webhookId": "wait-colorize-webhook",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/flux-pro/requests/{{ $('Colorize Image').item.json.request_id }}/status",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "74c047a9-f40d-477f-8ee6-92404912f59e",
      "name": "Check Colorization Status",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        5200,
        2336
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "colorize-completed",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.status }}",
              "rightValue": "COMPLETED"
            }
          ]
        },
        "options": {}
      },
      "id": "0a81cbe8-1494-43e4-8487-1f36261436d0",
      "name": "Colorization Completed?",
      "type": "n8n-nodes-base.if",
      "position": [
        5424,
        2336
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/flux-pro/requests/{{ $('Colorize Image').item.json.request_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "de92f072-3018-49b4-bcaa-d84943d0e57c",
      "name": "Get Colorized Image",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        5648,
        2336
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/kling-video/v2.1/standard/image-to-video",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"{{ $('Photo Upload Form').item.json['Custom Animation Description (Optional)'] ? $('Photo Upload Form').item.json['Custom Animation Description (Optional)'] : 'Animate this colorized vintage photograph. If there are multiple people, make them interact naturally - perhaps talking, smiling, or making subtle gestures. If there\\'s only one person, animate them with natural movements like breathing, blinking, slight head movements, or gentle smiling. Keep the animation subtle and realistic, maintaining the vintage charm. The movement should feel natural and bring the photo to life. Do not move the camera' }}\",\n  \"image_url\": \"{{ $('Get Colorized Image').item.json.images[0].url }}\",\n  \"duration\": 5,\n  \"quality\": \"standard\"\n}",
        "options": {}
      },
      "id": "41f8a6ca-b9c3-4b93-a481-8ac3335fc4bf",
      "name": "Animate Image",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        5872,
        2336
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "amount": 60
      },
      "id": "efa7210e-8c0b-45f5-be87-2bc98b61cb55",
      "name": "Wait for Animation",
      "type": "n8n-nodes-base.wait",
      "position": [
        6080,
        2336
      ],
      "webhookId": "wait-animation-webhook",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/kling-video/requests/{{ $('Animate Image').item.json.request_id }}/status",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "159fcb1c-7889-4ed5-95f9-90ad1152baa0",
      "name": "Check Animation Status",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        6304,
        2336
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "animation-completed",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.status }}",
              "rightValue": "COMPLETED"
            }
          ]
        },
        "options": {}
      },
      "id": "f9940390-532d-4795-a20e-beb527fbd9f6",
      "name": "Animation Completed?",
      "type": "n8n-nodes-base.if",
      "position": [
        6528,
        2336
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/kling-video/requests/{{ $('Animate Image').item.json.request_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "a0bb601a-ecfb-4634-9f1a-91efff593547",
      "name": "Get Animated Video",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        6752,
        2336
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "url": "={{ $('Get Animated Video').item.json.video.url }}",
        "options": {}
      },
      "id": "bd766a0e-5d9d-4fa5-a804-9c9f8a154b09",
      "name": "Download Video",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        6960,
        2336
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "name": "=animated-photo-{{ $now.format('yyyyMMdd-HHmmss') }}.mp4",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive",
          "cachedResultName": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultUrl": "https://drive.google.com/drive",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "id": "a5deeb72-de4f-4877-893a-5c91d56cba52",
      "name": "Upload to Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        7184,
        2336
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "success-flag",
              "name": "success",
              "type": "boolean",
              "value": true
            },
            {
              "id": "message",
              "name": "message",
              "type": "string",
              "value": "Your old photo has been successfully colorized and animated!"
            },
            {
              "id": "colorized-image",
              "name": "colorized_image_url",
              "type": "string",
              "value": "={{ $('Get Colorized Image').item.json.images[0].url }}"
            },
            {
              "id": "animated-video",
              "name": "animated_video_url",
              "type": "string",
              "value": "={{ $('Get Animated Video').item.json.video.url }}"
            },
            {
              "id": "google-drive",
              "name": "google_drive_url",
              "type": "string",
              "value": "={{ $('Upload to Google Drive').item.json.webViewLink }}"
            },
            {
              "id": "processing-time",
              "name": "processing_time",
              "type": "string",
              "value": "={{ $now.format('yyyy-MM-dd HH:mm:ss') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "048429fd-20eb-4451-ab5a-e41c45e4100d",
      "name": "Final Results",
      "type": "n8n-nodes-base.set",
      "position": [
        7424,
        2336
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "## How to Use:\n\n1. **Click 'Execute workflow'** to start the process\n2. **Upload your old photo** in the form that appears\n3. The photo will be **colorized and enhanced** using FLUX Kontext\n4. Then **animated** using Kling Video AI\n5. Finally **saved to Google Drive**\n\n**Required:** Image file (JPG, PNG)\n**Optional:** Custom animation description",
        "height": 200,
        "width": 740
      },
      "id": "35ad02e1-5282-4260-8b65-996782e4fc8b",
      "name": "Usage Instructions",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4240,
        1792
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Setup Required:\n1. **api.imgbb.com**: Get api token (it's free)\n2. **FAL.AI API Key**: Get from fal.ai and set in HTTP Request credentials\n3. **Google Drive**: Connect your Google Drive account\n4. **Test the workflow**: Click 'Test workflow' to start\n\n**API Endpoints Used:**\n- Upload image: api.imgbb.com\n- FLUX Kontext: Image enhancement and colorization\n- Kling Video: Image to video animation",
        "height": 260,
        "width": 740
      },
      "id": "1db648a5-5a5c-413a-8819-155da4feb55e",
      "name": "Setup Instructions",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4240,
        2032
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.imgbb.com/1/upload",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "image",
              "inputDataFieldName": "=Upload_Old_Photo"
            },
            {
              "name": "key",
              "value": "generate_token_and_add"
            }
          ]
        },
        "options": {}
      },
      "id": "288b3e8a-a57a-48b4-a90b-ec0f4fc83c21",
      "name": "Upload Image to imgbb",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        4528,
        2336
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "resource": "uploads",
        "operation": "uploadVideo"
      },
      "id": "9553416a-f61f-46e2-aef7-0a8227c18123",
      "name": "Upload Post",
      "type": "n8n-nodes-preview-upload-post.uploadPost",
      "position": [
        7632,
        2336
      ],
      "typeVersion": 1,
      "credentials": {}
    }
  ],
  "pinData": {},
  "connections": {
    "Animate Image": {
      "main": [
        [
          {
            "node": "Wait for Animation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final Results": {
      "main": [
        [
          {
            "node": "Upload Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Colorize Image": {
      "main": [
        [
          {
            "node": "Wait for Colorization",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Video": {
      "main": [
        [
          {
            "node": "Upload to Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Photo Upload Form": {
      "main": [
        [
          {
            "node": "Upload Image to imgbb",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Animated Video": {
      "main": [
        [
          {
            "node": "Download Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Animation": {
      "main": [
        [
          {
            "node": "Check Animation Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Colorized Image": {
      "main": [
        [
          {
            "node": "Animate Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Animation Completed?": {
      "main": [
        [
          {
            "node": "Get Animated Video",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait for Animation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Image to imgbb": {
      "main": [
        [
          {
            "node": "Colorize Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Colorization": {
      "main": [
        [
          {
            "node": "Check Colorization Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Animation Status": {
      "main": [
        [
          {
            "node": "Animation Completed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Google Drive": {
      "main": [
        [
          {
            "node": "Final Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Colorization Completed?": {
      "main": [
        [
          {
            "node": "Get Colorized Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait for Colorization",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Colorization Status": {
      "main": [
        [
          {
            "node": "Colorization Completed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cd064606110cd556c28b75944cc984cddb10bbdd63deca196ea4cb4095990bc2"
  },
  "tags": []
}